[2014-11-18 22:07] cj opened #2 "update dom elements"
Is it possible to update the dom elements?

[2015-01-15 14:34] philss opened #4 "Add search for descendant elements"
I want to be able to search for elements that are descendant of others without have to use
pipes.

Ideal interface:
[code]

It should be able to work with html tags and ids.

[2015-01-19 02:59] philss commented on #4
This commit closes this issue: https://github.com/philss/floki/commit/267ad626be07a205e5b8b2c3c25aecbbd0ce9c4d.

[2015-01-19 02:59] #4 closed

[2015-01-24 05:13] philss opened #5 "Remove embedded mochiweb code"
This is low priority.

The idea is to remove [mochiweb](https://github.com/mochi/mochiweb) code from this codebase.

Solutions are:
- use a hex package of mochiweb (current not available);
- create a new HTML parser in Elixir and use as hex dependency.

[2015-02-28 18:34] os6sense commented on #5
Might another solution be a hex community package? https://github.com/hexpm/community

[2015-02-28 21:55] philss commented on #5
@os6sense Great idea! I didn't know about that! I will try the hex community approach. Thanks!

[2015-03-25 22:45] #5 closed

[2015-03-26 02:05] philss commented on #5
@os6sense Thanks for the suggestion! The package is now published and the floki v0.1.1 is already using it.

[2015-04-05 18:17] philss opened #6 "Add attribute equals selector"
The "attribute equals" selector is useful when one wants to search elements by the value of some attribute, like data attributes or "schema" properties.

Check the [jQuery documentation](https://api.jquery.com/attribute-equals-selector/) for more details.

[2015-04-08 13:52] citizenparker opened #7 "A deep version of Floki.text/1?"
First off, I'm a big fan of this library - I really like the approach it's taking.

I'm using it to simplify my assertions in Phoenix Controller tests, and I find that a version of [Floki.text/1](http://hexdocs.pm/floki/Floki.html#text/1) that returned text deeply would be super useful for me, letting me write tests that are agnostic to styling choices in the template. In the example in this metho

[2015-04-10 01:59] philss commented on #7
@citizenparker Great to know that you like and is using Floki! :smiley:

I like your idea. I was in doubt when I added the `Floki.text/1`, if it should work with this "deep" behavior by default. I choose to not follow this path, but I don't remember why.

We can make the `Floki.text/1` work with the "deep" strategy by default. It can also have an option to make it work as it is today. The option c

[2015-05-03 22:38] #7 closed

[2015-05-03 22:47] philss commented on #7
@citizenparker following your suggestion, I changed the behavior of `Floki.text/1` to perform a deep search and I added an option (`deep`) to disable the deep search if needed.

Please check [the docs](http://hexdocs.pm/floki/0.2.0/Floki.html#text/2) for more details.
You need to update your projects to use the version `0.2.0` of Floki.

Thanks for the suggestion!

[2015-06-04 13:16] antonmi opened #9 "Problem when parse a part of html tree without root node"
Example:
[code]
`Floki.parse/1` retruns only first node `{"h2", [], ["Show user"]}`
It is, of course, `:mochiweb_html.parse/1`. But can we make it better on Floki side?

[2015-06-04 15:25] philss commented on #9
@antonmi Thanks for pointing the issue.

Yes, it's a problem with the `:mochiweb_html.parse/1`.
A possible way to solve it is to always include a "surrounding" tag before parse the HTML.
The idea is to inject the tag inside the `Floki.parse/1` when receiving the string.
Something like:

[code]

I made some manual tests and it's work. But more tests are needed.
I can fix this in the next week, or f

[2015-06-04 15:36] antonmi commented on #9
I have used the same idea in my 'espec_phoenix' project!
The difference is that Floki.parse will return a list instead of a tuple.
But there is no effect to other functionality.

[2015-06-04 18:14] philss commented on #9
@antonmi Thanks for solving it! I'm closing now.
Just to register, the pull request that solved the problem was: https://github.com/philss/floki/pull/10

[2015-06-04 18:14] #9 closed

[2015-06-07 23:57] philss commented on #6
Closed by #12 :fireworks:

[2015-06-08 00:02] philss commented on #6
@nelsonr the new version is available in hex.pm with this new feature. Thanks a lot!

[2015-06-08 00:02] #6 closed

[2015-06-08 01:31] nelsonr commented on #6
@philss happy to contribute! :)

[2015-06-21 03:14] oswaldoferreira opened #13 "Making Floki support XML files parsing."
I'm getting this error when parsing a XML file.

`** (MatchError) no match of right hand side value: {"version", "1.0"}`

Removing this line:

`<?xml version="1.0" encoding="UTF-8"?>`

From:

[code]
It seems to work just fine.

Any thought's on supporting this kind of file?

[2015-06-21 05:04] philss commented on #13
Hi @oswaldoferreira, great to know that you are using Floki!

I didn't think in using Floki to parse and search XML files, but seems to be a good idea.
In my first try I could parse/find nodes only by ignoring the line that you mentioned.

Do you think there is some case this information is needed?

[2015-06-22 02:48] philss commented on #13
@oswaldoferreira I just released a version with that improvement. It's version `0.3.1`. Please update and take a look.

I'm closing this issue. Fell free to re-open in case it doesn't work.

[2015-06-22 02:48] #13 closed

[2015-06-22 22:20] oswaldoferreira commented on #13
Great! Thanks @philss. I'm going to try this now.

[2015-06-23 14:23] leighhalliday opened #14 "When 2 tags with only a space between them, space is removed"
Example html:
&lt;p&gt;I want &lt;a href="http://www.google.com">link to&lt;/a&gt; &lt;strong&gt;article&lt;/strong&gt;&lt;/p&gt;

When run through floki:
  [{"p", [],
    ["I want ", {"a", [{"href", "http://www.google.com"}], ["link to"]},
     {"strong", [], ["article"]}]}]}]

Maybe this is the intended result... which is perfectly fine. I was hoping to use floki for a weird use-case... basicall

[2015-06-23 23:23] philss commented on #14
Hi @leighhalliday, great to know that your are using Floki! :)

This is an important issue, but it's not easy to solve. I'm using the [`mochiweb`](https://github.com/mochi/mochiweb) lib which is the responsible for parsing HTML inside Floki, so the problem is in that library. It's a great parser, but has some issues like this. Unfortunally I don't have much control over the parser.

I'm planning t

[2015-06-23 23:23] #14 closed

[2015-06-27 13:52] gverilla opened #15 "deep_text fails when handling comments"
When I try to extract text from elements containing a comment-tag, the deep_text-extraction breaks. Instead of ignoring the comment, it throws a FunctionClauseError.

Here is a minimal example:

    defmodule FlokiCase do
      def fail_deep_text_with_comment do
        """
        <a>foo</a>

        <b>baz</b>
        """ |> Floki.parse |> Floki.text |> IO.puts
      end
    end

I expected to h

[2015-06-27 22:16] philss commented on #15
@gverilla Thanks for the report! :smiley: I fixed it in version `0.3.2`. Please check this new version.

I'm closing this issue now.

[2015-06-27 22:16] #15 closed

[2015-07-06 18:20] philss opened #16 "Add the adjacent sibling combinator"
This issue is about the plus ("+") combinator.

Reference: http://www.w3.org/TR/css3-selectors/#adjacent-sibling-combinators
CSS example: https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_selectors

[2015-08-20 22:14] uasi opened #17 "find/2 gets stuck with non-HTML input"
[code]

[2015-08-21 15:03] philss commented on #17
@uasi Interesting. I think this is something related to the search step, since the parse works fine. I will take a look soon.

Thanks for reporting!

[2015-08-23 04:41] philss commented on #17
Hi @uasi, this bug was solved in 4cde3f4. It is already available as a new hex package version. Please update your `mix.exs` to use version `0.3.3`. Don't forget to run `mix deps.update floki`.

Thanks!

[2015-08-23 04:41] #17 closed

[2015-09-03 19:53] licyeus opened #18 "Cannot search with multiple selectors"
With `@html` markup from `test/floki_test.exs`:

[code]

I am trying to search for an element with multiple classes (on the same element) with the selector `.js-cool.js-elixir` but Floki is not finding them. However, if I add a space between the classes, as if the second was a descendent of the first, `.js-cool .js-elixir`, it does return what I'm looking for but should not (as `js-elixir` is not

[2015-09-04 03:46] philss opened #20 "Add a more robust representation of selectors"
The current implementation does not allow searching for elements using a multi selector, like `a.some-class` or `.some-class.another-class`. This is because it is coupled to the idea of one search per selector at time. This means that I can't search a "tag" and a "class" in the same element at the same time.

We need to provide a basic infrastructure to be able to search using groups of selectors.

[2015-09-04 17:52] edmz commented on #20
Just curious, in you experience, is `Floki.find("a + b")` harder to implement than `Floki.find("a.foo")`?

[2015-09-04 22:28] philss commented on #20
@edmz I think it's harder because for the `Floki.find("a + b")` we need to have the concept of "parent" selector, and a "parent lookup". Today it's possible to perform a descending search using `Floki.find("a b")`, but this is easier because we only lookup elements inside the previous selector.

`Floki.find("a.foo")` would require a multiple match in the same element, making it easier than the pre

[2015-09-12 05:56] philss commented on #20
Just to let you know: I'm working on this. It's getting shape and I should have a working version soon.

[2015-09-17 13:31] #18 closed

[2015-09-17 15:00] philss opened #23 "Add child combinator"
The idea here is to support [child combinators](http://www.w3.org/TR/css3-selectors/#child-combinators) in `Floki.find/2`.

[2015-09-17 15:03] philss commented on #20
The merge of #22 closes this issue. I will open new issues related to the selectors that are missing.

[2015-09-17 15:03] #20 closed

[2015-09-17 15:05] philss commented on #18
@licyeus Please check the new released version "0.4.0". It provides this selector and much more.

[2015-09-17 15:19] henrik opened #24 "Compilation error: "attribute 'dialyzer' after function definitions""
I get this trying to `mix deps.compile floki` on my OS X machine:

[code]

[2015-09-17 17:25] licyeus opened #25 "Errors compiling floki 0.4"
Created a new Elixir project (`mix new floki_test`), added `{:floki, "~> 0.4"}` to `mix.exs`, successfully ran `mix deps.get`, but when I run `mix test` on this blank project, Floki fails to compile and the project outputs:

[code]

I'm using mix/elixir 1.0.5. Above steps succeed with floki 0.3.3.

[2015-09-17 17:28] licyeus commented on #18
Thanks much :fireworks:; looking at diffs looks to cover my use cases. However, I'm running into errors compiling 0.4. Created #25 for that.

[2015-09-17 18:02] henrik commented on #25
Just reported the same thing in #24 today. Good to know 0.3.3 works!

[2015-09-17 18:21] licyeus commented on #25
Didn't realize your issue already existed. Closing this as dupe of #24. Thanks!

[2015-09-17 18:21] #25 closed

[2015-09-17 18:29] philss commented on #25
@licyeus thank you!

[2015-09-17 18:34] philss commented on #24
@henrik and @licyeus can you provide your Elixir and Erlang versions?

To check Erlang version with brew, use: `brew info erlang | grep "*"`
To check Elixir version, run: `elixir -v`.

[2015-09-17 19:41] licyeus commented on #24
[code]

Interesting that my stacktrace references 18.0.2, but brew states I'm running 17.5. I'm upgrading erlang with homebrew and will let you know after lunch if it works.

[2015-09-17 20:12] henrik commented on #24
[code]

I'll try to hold off on upgrading things so I can evaluate any backwards-compatibility fix (if that's the issue).

[2015-09-17 20:51] philss commented on #24
@licyeus @henrik thank you! I will take a look later today. This seems something related to the Erlang version , but I'm not sure. I tested Floki against Erlang `18.0.2` and `18.0.3`, and it works fine.

@henrik Ok.

[2015-09-17 20:56] licyeus commented on #24
Upgrading to erlang 18.0.3 (via `brew upgrade erlang`) fixed the issue. Floki now compiles successfully. @philss, thanks for the heads up on how to check system erlang version.

[2015-09-18 05:14] henrik commented on #24
👍 If you bump the version I'm happy to try the latest.

Sent from my iPhone

[2015-09-18 05:29] philss commented on #24
@henrik great! You can take a look now in the new version `0.4.1` (it's already [published](https://hex.pm/packages/floki)).

My bad, guys. The problem was that I added a file that shouldn't be added to the Hex package. You can't see the file because is not under versioning, but is a file that is generated by the "leex" compiler.
This explain why you were seeing "/usr/local/Cellar/erlang/18.0.2/".

[2015-09-18 18:28] philss commented on #24
@henrik can you try this new version (0.4.1)?

[2015-09-19 09:38] henrik commented on #24
Works! 👍 Thanks so much, Philip!

Sent from my iPhone

[2015-09-19 16:31] philss commented on #24
@henrik Ok, thanks for testing it!

[2015-09-19 16:31] #24 closed

[2015-09-21 03:37] #23 closed

[2015-09-27 01:47] philss opened #28 "Add the general sibling combinator"
Add the "~" sibling combinator.

Specs: http://www.w3.org/TR/css3-selectors/#general-sibling-combinators

[2015-09-27 01:50] philss opened #29 "Notify unknown tokens when parsing selector"
Floki needs a better feedback of unknown tokens. The idea is to throw an error with the unknown token.

[2015-09-27 01:51] #16 closed

[2015-09-27 03:13] #28 closed

[2015-09-27 05:25] philss opened #31 "Turn selectors into case-insensitive"
This is needed in order to respect the case-insensitive item of CSS3 selectors.

Spec: http://www.w3.org/TR/css3-selectors/#casesens

[2015-10-03 19:48] glaucocustodio opened #32 "DOM tree to HTML"
Hi guys, if I do `Floki.find(html, "#wrapper")` for instance I very likely will get a lot of sub DOM elements, can't I convert it to HTML? I just saw `Floki.text`, but I dont want just text.

Something like:
`Floki.find(html, "#wrapper") |> Floki.raw_html`
Result:
`<div id="wrapper">... children DOM here ...</div>`

[2015-10-03 20:21] sntran commented on #5
Sorry to bring back an old issue, but is there a reason that we need the whole `mochiweb` package? Looks like you only uses the HTML parser from `mochiweb`, and that module has only seen 1 commit (which was to update the license) since 2013.

Would it be simpler to just include that module in the codebase?

Or, write own parser.

[2015-10-04 03:33] philss commented on #5
Hi @sntran,

Your question is valid. I moved out the whole `mochiweb` code because I didn't want to maintain that code in this repository. The main reason is because I don't know Erlang enough to understand what is going on inside that code. Or perhaps I don't know the mechanics of the HTML parser enough.

So that lead to your second suggestion, which is write my own parser: I really want to do th

[2015-10-04 03:41] philss commented on #32
@glaucocustodio this functionality does not exist **yet**. But I'm considering add it.

The main problem today is that `mochiweb`, which is the lib that really does the parsing of HTML, does not consider some spaces as text nodes. This problem was reported in this issue: https://github.com/philss/floki/issues/14

So, the resultant HTML would be different from the original one.

[2015-10-06 02:38] glaucocustodio commented on #32
I've added this functionality, please check https://github.com/philss/floki/pull/33. Let me know if it's all ok.

[2015-10-07 05:13] philss commented on #32
Closed by https://github.com/philss/floki/pull/33

Thanks @glaucocustodio!

[2015-10-07 05:13] #32 closed

[2015-10-08 01:53] philss commented on #32
@glaucocustodio Version 0.6 released with this new feature. Enjoy! :)

[2015-10-08 12:32] glaucocustodio commented on #32
Great! Thanks.

[2015-10-24 18:26] brianrackle opened #35 "module :leex is not available"
I get this error with floki 0.6.1
=> floki
could not compile dependency :floki, "mix compile" failed. You can recompile this dependency with "mix deps.compile floki", update it with "mix deps.update floki" or clean it with "mix deps.clean floki"
** (UndefinedFunctionError) undefined function: :leex.file/2 (module :leex is not available)
    :leex.file('src/floki_selector_lexer.xrl', [scannerfile:

[2015-10-24 18:57] brianrackle commented on #35
nm, I didnt have all of erlang.

I installed erlang from https://www.erlang-solutions.com/downloads/download-erlang-otp
and elixir from https://www.erlang-solutions.com/downloads/download-elixir

and that fixed the problem

[2015-10-24 18:57] #35 closed

[2015-10-29 04:10] philss opened #37 "Create a built in HTML parser"
Floki needs a HTML parser built in, in order to remove the [mochiweb](https://github.com/mochi/mochiweb) dependency. This will enable more flexibility and better control of the parsing step.

The parser goals are:
- [ ] support HTML5;
- [ ] support HTML snippets;
- [ ] be able to parse large files, like 15MB;
- [ ] easy to traverse;
- [ ] be a bit tolerant with errors, like missing closing tags.

[2015-11-03 11:17] akitaonrails commented on #35
Just to complement, I am in Ubuntu and installed Erlang though apt-get. I had to instal other packages such as erlang-dev and erlang-parsetools to be able to compile libs such as Floki, but it did work.

[2015-11-03 15:39] sntran opened #39 "Can't select sibling options"
Test case:

[code]

Floki version: 0.6.1

[2015-11-04 00:09] philss commented on #35
@brianrackle and @akitaonrails Thank you for your report and details!

I added a section [to the readme](https://github.com/philss/floki#dependencies) file explaining this.

[2015-11-04 01:11] philss commented on #39
Hi @sntran! Thank you for the report!

It is fixed in the version 0.7.0. Please check that.

[2015-11-04 01:51] sntran commented on #39
:clap:  Thank you!

[2015-11-04 01:51] #39 closed

[2015-11-14 18:28] mmport80 opened #40 "FunctionClauseError"
I received an error when trying to parse the html of this page. Let me know if you need anything else.

http://theguysociety.com/success/kunal-desai-no-bull-on-how-to-take-over-the-stock-market/?utm_content=buffer4be54&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

** (FunctionClauseError) no function clause matching in Floki.Finder.traverse/4
             lib/floki/finder.ex:33: Fl

[2015-11-14 18:36] mmport80 commented on #40
Oops, here's what I am looking for: Floki.find("meta[property='og:image']")

[2015-11-15 00:29] philss commented on #40
@mmport80 thanks for the report! :)

It is fixed in the latest version, 0.7.1. Pls check that.

[2015-11-15 00:29] #40 closed

[2015-11-16 08:42] mmport80 commented on #40
fantastic - working great - thanks!

[2015-11-30 21:42] taiar commented on #35
Thanks, @akitaonrails, solved the problem!

[2015-12-09 19:52] philss commented on #37
Here is a test case with an example of error that Floki does not support today: https://github.com/henrik/sipper/commit/49a4c09afa8773f9253401608f89c8d1545124cf

Thanks @henrik for the example!

[2016-01-10 04:51] philss commented on #31
I'm not convinced that is the right moment to add this feature. This is because case sensitivity is dependent on the document type, which can lead to [confusion](http://stackoverflow.com/questions/12533926/are-class-names-in-css-selectors-case-sensitive).

[2016-01-10 04:51] #31 closed

[2016-01-18 10:08] bansalakhil opened #41 "(Mix) Could not start application xmerl: could not find application file: xmerl.app"
Adding :floki to applications is giving this error:

Erlang/OTP 18 [erts-7.2] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false]

=INFO REPORT==== 18-Jan-2016::15:35:13 ===
    application: logger
    exited: stopped
    type: temporary

[2016-01-18 10:25] bansalakhil commented on #41
sudo apt-get install erlang-xmerl solved the issue

[2016-01-18 10:26] #41 closed

[2016-01-24 12:12] qertoip opened #42 "Attributes' names are forced lowercase"
Floki forces attributes' names lowercase. Failing test case:

    defmodule FlokiTest do
      use ExUnit.Case

      test "preserves case of attributes names" do
        xml = ~s(<root ID="1"/>)
        [{"root", [{attrName, "1"}], []}] = Floki.find(xml, "root")
        assert(attrName == "ID")
      end
    end

[2016-01-25 18:56] philss commented on #42
@qertoip Thanks for the report!

This is a problem in the parsing step. Unfortunately the parser is under the `mochiweb` code base. I'm working to get a [built-in parser](https://github.com/philss/floki/issues/37) soon.  I will let this issue open until I can solve this.

[2016-02-20 09:55] ckruse opened #44 "How to filter out comments?"
Hi,

I'd like to filter out comments, how do I do it? I tried

    Floki.filter_out(doc, :comment)

But that doesn't work.

[2016-02-20 18:09] philss commented on #44
Hi @ckruse,

This is actually a bug. It's fixed in this commit 5ec7eda, and I should release a new version with the fix soon. In the meanwhile, please use the github version.

Thanks!

[2016-02-20 18:10] #44 closed

[2016-02-23 12:49] ckruse commented on #42
since HTML is case-insensitive, this is IHMO the right behaviour

[2016-02-23 12:49] ckruse commented on #44
Thank you very much!

[2016-02-23 16:38] philss commented on #44
@ckruse This fix is available in the version 0.7.2. Thanks!

[2016-02-24 08:27] ckruse commented on #44
Thanks - just released version 0.0.3 of my [microformats2 parser](https://hex.pm/packages/microformats2) depending on that version :-)

[2016-03-04 09:37] fan-y-ouchi opened #46 "How to find tag with namespace?"
[code]

The jQuery can do as follows:
`$("ns\\:tag")`

[2016-03-06 06:34] philss commented on #46
Hi @fan-y-ouchi! This feature was not present yet. But is now available in the version `0.8.0` of Floki. :smiley:

Please update and check again (the same syntax of your example).

[2016-03-07 02:16] fan-y-ouchi commented on #46
Thank you! :smile:

[2016-03-20 02:10] philss commented on #29
I think it's good to keep the Elixir "convention" and only return a tuple with `{:error, reason}`.
For that, Floki needs to also keep the convention of return a tuple with the result: `{:ok, result}`.

[2016-05-23 16:13] rochdi opened #49 "Add an optional separator to .text()"
consider this case:
```Floki.parse("<ul><li>text1</li><li>text2</li><ul>") |> Floki.text ```
returns
`text1text2 `

If we give the consumer the possibility to add a separator
```Floki.parse("<ul><li>text1</li><li>text2</li><ul>") |> Floki.text (separator: " ")```
returns
```text1 text2```

[2016-05-23 23:39] somlor opened #50 "Unexpected "/floki" tag"
Via #37 it looks like handling unclosed tags is a goal for built-in HTML parser. But I was surprised that a tag name `floki` was added to the parsed html tree here. Is this expected behavior?

[code]

[2016-05-24 07:22] rochdi commented on #49
Hi @philss, I have a local branch with this feature implemented and tested.

[2016-05-24 15:21] philss commented on #50
@somlor thanks for the report! No, this is not expected. The `floki` tag is a "hack" to fix a problem with `mochiweb_html` parser.

The problem is that the parser can't understand very well HTML snippets without a parent tag (for example: `<span>Click</span><button>Here</button>` will be parsed as `{"span", [], ["Click"]}`).

The remotion of [this closing tag](https://github.com/philss/floki/blob/

[2016-05-24 15:24] philss commented on #49
@rochdi hi there! This feature is interesting. Can you open a PR with this?
It's important to not affect the result if no separator is passed. Thanks!

[2016-05-24 15:55] rochdi commented on #49
@philss getting 403 when trying to push my branch, can you give me access ? or there is another procedure to follow.

[2016-05-24 17:41] philss commented on #49
@rochdi It's better to fork and push to your fork. You can do as follow:

1. Fork:
![fork_button](https://cloud.githubusercontent.com/assets/381213/15513903/fa28b796-21bc-11e6-84a1-05c747e03899.png)

2. After fork, get the git URL from that "Clone or Download" button;
![screen shot 2016-05-24 at 2 31 26 pm](https://cloud.githubusercontent.com/assets/381213/15514006/69589168-21bd-11e6-8153-38753ca3

[2016-05-24 19:25] rochdi commented on #49
@philss thanks and done
Adding a separator will prevent user from losing words, specify if the sentence will go through some NLP

[2016-05-24 22:38] philss commented on #49
@rochdi right, thanks! I will take a better look later today.

[2016-05-25 15:54] somlor commented on #50
@philss OK, makes sense. Let me know if there is anything I can do to help.

[2016-05-31 13:28] #49 closed

[2016-06-07 17:30] gmile commented on #37
@philss creating an html parser from scratch sounds like a huge amount of work. Have you thought about using a C library instead, such as this one https://github.com/google/gumbo-parser?

[2016-06-09 07:29] rochdi opened #53 "parentheses not supported in css selector"
* Example: .test nth-child(2)
* message: `Unknown token '('. Ignoring.`

[2016-06-09 12:19] gmile commented on #53
@rochdi this is a known issue, see "Known issues" section in description of https://github.com/philss/floki/pull/22:

[2016-06-09 15:05] philss commented on #37
@gmile yeah, I thought about that, but what I want is to not depend on an external dependency.
This came from a bit of frustration with the Nokogiri ruby gem. It uses libxml2 and FFI to make the bridge. It failed so many times to compile with me that I didn't like the experience.

But, this is not discarded. I also think [Servo's HTML](https://github.com/servo/html5ever) is a good option.

[2016-06-09 15:15] gmile commented on #46
@philss will this not conflict with possible future implementation of `:first-child`, `:nth-child()` etc.? Per ** 6.1.1. Type selectors and namespaces** from [here](https://www.w3.org/TR/css3-selectors/#typenmsp), one must target namespaced tags by means of dash symbol `|`.

@philss what do you think?

[2016-06-09 15:41] gmile commented on #37
That said, are you specifically looking forward the Servo's HTML? Otherwise, I could play with gumbo-parser integration and see how it goes.

[2016-06-09 15:58] philss commented on #37
@gmile I'm not looking into this right now. So, please go for it. 👍

[2016-06-09 16:01] philss commented on #46
@gmile wow! I didn't know that. I think I misunderstood this namespace selector. Thank you for pointing out. This need to be fixed. I'm gonna reopen this.

[2016-07-12 11:15] baron commented on #37
I was wondering what the expected behavior of a native html parser would be. Right now mochiweb_html.parse always returns empty lists in either the middle or the end (depending on what level of nesting the html has). I'm not sure if this is a bug or feature but it was confusing when I first started using the library because I was hoping for some kind of "to_hash" like function in ruby.

`iex(33)>

[2016-07-30 03:36] brweber2 commented on #2
[code]
Rather than just find the elements that match and return them as a list, it would use the original parsed HTML data structure as the accumulator and apply the callback function to replace each match.
The implementation would be very similar to find only it would have an additional argument (the callback function) and the accumulator would be the entire HTML document and not just the list of

[2016-07-31 10:54] gmile opened #56 "Floki.attribute shouldn't return a list"
Is there a reason why `Floki.attribute` returns a list?

Right now I find myself constantly needing to run `hd` or `List.first` when retrieving attribute's value:

[code]
Attribute name is always uniqe, so it should be possible to have `hd/1` in `Floki.attribute` itself?

According to the [HTML5 CR, 8.1.2.3 Attributes](https://www.w3.org/TR/html5/syntax.html#attributes-0):

[2016-07-31 12:53] gmile commented on #56
On the other hand, I think it makes sense. Give there's a list of matches returned by `Floki.find`, `Floki.attribute` will return a flat list of attributes (instead of list of lists containing single attribute's value).

I'm closing this, sorry for misunderstanding.

[2016-07-31 12:53] #56 closed

[2016-07-31 15:36] philss commented on #56
Ok, no problem 👍

[2016-07-31 19:56] philss commented on #53
Gonna close this one since it's already a known issue, and I don't have plans to add pseudo-selectors right now.

@rochdi feel free to open a more specific issue, like: `Add support for nth-child pseudo-selector`.

Thanks @gmile and @rochdi !

[2016-07-31 19:56] #53 closed

[2016-07-31 21:10] philss commented on #46
Closed again by #58.

[2016-07-31 21:10] #46 closed

[2016-07-31 21:28] philss commented on #42
I agree with @ckruse. This is the expected behavior since Floki is not supposed to be fully compatible with XML. Thanks for the report and sorry for the delay, @ckruse.

[2016-07-31 21:28] #42 closed

[2016-08-03 04:17] philss commented on #2
@brweber2 Thanks for the proposal.

Yes, this is possible. I think for this feature we need something more flexible, like a "protocol" for saying that we want to "add" attributes, or change the tag name (type), or "push" a new child into the tree.

Something like:

[code]

What do you think?

[2016-08-06 03:00] philss commented on #46
@fan-y-ouchi @gmile the new version was released in v0.10.0. Thanks!

[2016-08-16 16:50] marick opened #61 "Using `filter_out` with attribute selector like "div[class]""
Suppose I want to filter out all divs that have a particular attribute. I can't see how to do that with `filter_out`.

Consider this HTML. It has one div with a `class` and one without:

[code]

I want to find all the divs without a `class`. I expected this to work, but it does not:

[code]

More precisely, I want to work with a list produced by `find`, so a closer approximation to my real code wo

[2016-08-16 16:58] marick commented on #61
Update: It appears from https://github.com/philss/floki/blob/master/lib/floki/filter_out.ex#L15 that the second argument to `filter_out` is not intended to be a CSS selector, but just a tag name (or pseudo-name like `:comment`)

[2016-08-16 18:15] justgage commented on #61
I personally think that this should be a selector. `Floki.find` works this way. Plus it would just make it much more useful.

[2016-08-16 18:41] philss commented on #61
@marick thanks for the report! You are correct, the implementation expects only a "type" (tag name) or pseudo-name. This opens two possible actions: improve docs to make that more explicit or accept an actual selector and work like `Floki.find/2` do.

I agree with @justgage that implementing the selector is more useful. But I'm not sure if we can reuse the internals of `Floki.find/2` or implement

[2016-08-23 19:59] teamon opened #63 "IO.puts bloat"
ref https://github.com/philss/floki/blob/ba3b1e3587e7fff90c38df1da7ede09f86d8fcf3/lib/floki/selector_parser.ex#L62-L63

How about

[code]

?

[2016-08-24 08:06] joshuataylor opened #64 "Add support for nth-child pseudo-selector"
It's really nice to be able to queries like:

[code]

Support for floki would be awesome :)

[2016-08-24 14:56] justgage commented on #63
I'm not a maintainer but I'm curious how this is different or less "bloat"

[2016-08-24 15:00] teamon commented on #63
@justgage If you set the logger level to info (or warn, or error) it won't be displayed.

[2016-08-24 22:32] justgage commented on #63
Ah, makes sense

On Wed, Aug 24, 2016, 9:00 AM Tymon Tobolski <notifications@github.com>
wrote:

[2016-08-30 02:54] #63 closed

[2016-08-30 02:55] philss commented on #63
@teamon I agree with you. But I think this message should be a `warn` instead of `debug`. This is because the user may want to know that misspelled selectors are affecting the results of a given search.

I added this commit 5d4c0a9 that fixes the issue. I gonna release it soon.

Thank you! :)

[2016-08-30 02:56] philss commented on #29
Closed with 5d4c0a9. For now it's the better solution.

[2016-08-30 02:56] #29 closed

[2016-09-02 15:44] bobjflong opened #65 "Supporting transforms for Floki nodes!"
Hi! Thanks so much for Floki!

I have a need to transform Floki nodes. For example, to turn all relative links into absolute links:

[code]

Instead of requiring the implementation of a recursive search, do you think there is space in the Floki API for a `transform` function like above? I'd be up for cutting a PR myself. Just wondering if you have any thoughts.

[2016-09-04 05:20] philss commented on #65
Hi @bobjflong! Thank you for the PR and the issue! 😃  I couldn't check this with attention yet, but I will check soon. :)

[2016-09-29 15:18] #65 closed

[2016-10-12 09:11] aphillipo opened #68 "mochiweb_html breaks building a release when other dependancies include mochiweb"
Hi @philss - thanks so much for Floki it's awesome...

I'm in a bit of a pickle with mochiweb_html conflicting with deps that use the mochiweb package.

I understand your reasoning only including the mochiweb_html parser rather than all of the other stuff with Floki, however when trying to build a release it causes the following error:

==> Failed to build release:

    Duplicated modules:
    	mo

[2016-10-12 22:16] #68 closed

[2016-10-12 22:22] philss commented on #68
Hi @aphillipo! Thank you!! I didn't know about this problem, and I totally agree with using the full `mochiweb` package now.

PS: I'm the publisher of that `mochiweb_html` package. Now that you found the issue, I think it makes sense to update [that package](https://github.com/philss/mochiweb_html) to use another namespace.

[2016-10-12 23:03] philss commented on #64
Thanks for the suggestion, @joshuataylor! I'm working in a refactor that will let this more easier to implement.

[2016-11-10 20:44] ollaollu opened #70 "Commented out html do not show up in find function"
Floki is not finding elements in comments.

I have this `src` I fetched with `Hound` and I passed it to `Floki.find(src, "span")`. Floki only returns the `span` with the `class='visible'` like this `[{"span", [{"class", "visible"}], [" hello "]}]`. The commented out span is totally neglected.

Source:

[code]

Is there a way to fetch commented out code? Or there's a temporary hack I can use?

You

[2016-11-10 21:23] philss commented on #70
Hi @ollaollu, thanks for open the issue.

This is not supposed to work because the code between comments is not interpreted as HTML.
It is just a string that is ignored in the process of finding HTML nodes.

You can do a hack that is: before parsing the document, replace the `` tokens by a personalized HTML tag.

Example:

[code]

Just be aware that this my cause collateral effects. Maybe you want

[2016-11-10 21:23] #70 closed

[2016-11-14 01:38] gbmoretti commented on #64
I'm very interested in that feature too.
Can you give us an update about the refactoring? So maybe someone could help you to make this out :)

Thanks!

[2016-11-15 02:57] philss opened #71 "Refactor Finder to enable lookup for parent nodes and update tree"
This refactor is needed in order to implement some features like search using pseudo-classes and update tree.

- [x]  Represent parsed HTML as a tree using a Map
- [x]  Refactor finders to work with this HTML tree
- [x]  Add docs for APIs that may change
- [x]  Remove old code

There is a prove of concept [here](https://github.com/philss/floki/compare/poc-update-nodes?expand=1), with all tests pas

[2016-11-15 02:58] philss commented on #64
Hi @gbmoretti! Today I could finish the POC for this refactor. The result is in this [diff](https://github.com/philss/floki/compare/poc-update-nodes?expand=1).

I will try to finish this until the end of this month. Please follow the issue #71 for more details.

[2016-11-16 12:33] gbmoretti commented on #64
Thank you! I'll take a look on that :)

[2016-11-24 16:12] StanBright commented on #61
Yeah, I expected that `filter_out` would work with selectors as `find` does.

Away from that, `Floki` works flawlessly for me at the moment :)

[2016-11-28 22:57] philss commented on #71
Closed by #73

[2016-11-28 22:57] #71 closed

[2016-11-29 15:01] dc0d opened #74 "Finding article Tag"
Hi,

`Floki.find(html, "article")` returns nothing despite the fact the html does contain an `article` tag. No other selectors find that tag too.

Thanks;

[2016-11-29 15:03] philss commented on #74
@dc0d can you provide a HTML sample?

[2016-11-29 19:25] dc0d commented on #74
My apologies (Elixir Noob); I was working on an RSS. I was wrong and making a mistake. After `article_elem = Floki.find(html, "article") |> Floki.text()` then I was using `inspect` on the result which gives a binary representation (like `<<67, 164, ...>>`) instead of the text ([sample link](http://www.gameblog.fr/news/63744-concours-gagnez-un-pc-gamer-portable-et-des-figurines-star-w) - I do not k

[2016-11-29 19:46] philss commented on #74
@dc0d no worries, thank you!
I'm closing this now.

[2016-11-29 19:46] #74 closed

[2016-12-01 04:53] philss commented on #64
Just for the record: the refactor was made in the PR #73 and I'm implementing this feature in this new branch: [add-nth-child-pseudo-class](https://github.com/philss/floki/compare/master...add-nth-child-pseudo-class).

[2016-12-15 21:48] Eiji7 opened #75 "Floki removes blank text nodes without option to avoid this"
Actual results:

[code]

Expected results:
[code]

**Note**: this is really important in some cases. For example, please try parsing html generated from github markup (code samples).

[2016-12-18 15:37] philss commented on #75
Hi @Eiji7.

This issue is a known [issue](https://github.com/mochi/mochiweb/issues/166) inside Mochiweb HTML parser, which is the parser behind Floki.

The suggested workaround would replace white-spaces between tags with a `&#32;` or `&#x20;` before calling `:mochiweb.parse/1`.

I tried some expressions to replace and I came up with this:

[code]

Not sure if this is safe to do inside `Floki.pars

[2016-12-19 15:28] Eiji7 commented on #75
@philss: I will try it tommorow, thanks for response.

[2016-12-19 15:29] Eiji7 commented on #75
@philss: I will try it tommorow, thanks for response.

[2016-12-20 16:36] Eiji7 commented on #37
It would be awesome to have something like this:
[code]
instead of:
[code]
for example for pattern match.

I was think also about:
[code]

Features:
- [ ] support all CSS3 (CSS4?) selectors
- [ ] support XPath
- [ ] log warnings when parsing + add option to raise on warning
- [ ] add option to strip blank text node (default false)
- [ ] add option to strip comment content (default true)
- [ ] use

[2016-12-22 09:15] alex88 opened #76 "Cannot parse soap response"
I've tried to parse a minimal soap response

[code]

and floki seems to not be able to parse anything

[2016-12-22 09:16] alex88 commented on #76
Oh nevermind, tags has to be downcased

[2016-12-22 09:16] #76 closed

[2016-12-29 00:57] #64 closed

[2016-12-29 09:17] aphillipo commented on #75
@Eiji7 Surely it's going to add a lot of overhead if you don't need this though?  Maybe it should be Floki.preserve_inter_tag_spaces and documented to say that it will copy the entire string to do this.

[2016-12-29 09:43] Eiji7 commented on #75
@aphillipo: yup, this way or #37.
btw. If you can explain me how parsers should work, like:

then I could think about create an XML/HTML parser and validator in Elixir. I can start work on it now, but I don't worked on similar project, so I can't provide others that it will be really fast. As listed in 3rd point at #37 issue we need think about a good algorithm to avoid decrease of efficiency

[2016-12-29 15:11] aphillipo commented on #75
Building HTML parsers is very difficult - I want to use Servo's for this eventually...

https://github.com/servo/html5ever

[2016-12-29 19:34] Eiji7 commented on #75
Did you know `:xmerl` and `:xmerl_scan`?
For example see [erlang docs](http://erlang.org/doc/man/xmerl.html).
Maybe it's what we are looking for that we can easily extend?

[2016-12-29 21:07] philss commented on #75
@Eiji7 `:xmerl` won't work for us. This is because `xmerl` was made to parse XML documents, and HTML is very **less strict** than XML. Normally HTML parsers are more forgiven than XML parsers, due the reason that users may write invalid HTML that should be presented in the browsers.

Here are some references:
- [Understanding HTML, XML and XHTML](https://webkit.org/blog/68/understanding-html-xml-a

[2016-12-30 15:44] Eiji7 commented on #75
@philss: Ok, I see your point. I see that your way ("bridge") is faster to implement. I don't know how exactly will work. Will it be as fast (with that "bridge") as native Elixir parser? It may be interesting for me in further future.
Anyway I'm interested in `:xmerl` and I think that I will look at its source files and I will probably create a Elixir version of it that will work for more that one

[2017-01-04 10:50] Jesterovskiy opened #78 "Find with ":" token"
I use Floki to parse XML. When I need to find "media:thumbnail" it returns me empty list.

Example:
iex(2)> Floki.find(response.body, "item") |> List.first
{"item", [],
 [{"title", [], ["Test"]},
  {"description", [], ["test"]},
  {"media:thumbnail",
   [{"url", "test-url"}], []},]}
iex(3)> Floki.find(Floki.find(response.body, "item") |> List.first, "media:thumbnail")
[]

Maybe I use Floki wrong?

[2017-01-04 15:03] philss commented on #78
Hi @Jesterovskiy

You need to replace the `:` by `|` (a pipe) in the selector. [Here is the spec](https://www.w3.org/TR/selectors/#typenmsp).

[code]

I'm gonna close this one. Please reopen if this didn't work for you.

[2017-01-04 15:03] #78 closed

[2017-01-06 12:50] Eiji7 opened #79 "Plus in find not work as expected"
For this code:
[code]
I run:
[code]
Expected results:
[code]
Actual results:
[code]
**Note**:
With this html:
[code]
and this:
[code]
find method works as expected.

So problem is that `Floki` interprets `&nbsp;` (text node) as normal node. So next element (for Floki) after `span` element is text node instead of `a` element.

**Note2**:
As a workaround I tried:
[code]
but I got:
[code]

[2017-01-08 03:41] philss commented on #79
@Eiji7 Good catch! I think this problem extends not only for  the sibling selector (">"). It should have the same problem for general sibling ("~") and the "nth-child" pseudo class selector.

I'm looking into fix this soon. Thank you for the report!

[2017-01-09 08:52] jonzlin95 opened #80 "Cannot find og: tags with Floki.find/2"
[code]

Hi. Basically I can't seem to use Floki.find/2 to get any properties with : in them (opengraph, twitter etc.) This bug seems to have popped up after v0.9.0. The above code works on 0.9.X, but breaks starting on 0.10.X

Thanks!

[2017-01-09 21:58] philss commented on #80
Hi @jonzlin95!

You are right: the behavior changed a little bit after v0.10.0. The reason is that we were using the `:` character in a wrong way. This char should be used only for pseudo-class selectors or inside quotes.

For your code to work you need to use single quotes like this:

[code]
or scape the double quotes:

[code]

I'm gonna close the issue. Feel free to open again if you have any qu

[2017-01-09 21:58] #80 closed

[2017-01-09 22:00] jonzlin95 commented on #80
Thanks a lot for the quick reply mate! Would be happy to help with some PR's for documentation, let me know if you need some help.

Also thanks a lot for the great work.

[2017-01-09 22:15] philss commented on #80
@jonzlin95 thanks! 😃

Good to know that! I can't think of docs to write right now. But I will let you know and ask your help when needed. Fell free to suggest docs or changes too.

[2017-01-10 14:44] #61 closed

[2017-01-10 14:44] #79 closed

[2017-01-10 16:18] philss commented on #2
Since there was not much discussion here I'm closing this issue.
Please open another issue to keep the discussion if needed. Thanks!

[2017-01-10 16:18] #2 closed

[2017-01-10 17:42] jjcarstens opened #82 "Add support for :not selector (and other pseudo-class selectors)"
In my case, I'm attempting to use the pseudo-class `:not`selector as `"div:not(.invisible)#error"`

[code]

I would loooovvee to have support for `:not`

[2017-01-12 04:23] philss commented on #82
Hi @jjcarstens!

This feature would be really cool to have!

I think the correct syntax for your selector would be `div#error:not(.invisible)`.

For the implementation we would probably change a little bit the [selector parser](https://github.com/philss/floki/blob/master/lib/floki/selector_parser.ex) and perhaps add some rules or change [the lexer](https://github.com/philss/floki/blob/master/src/f

[2017-01-12 04:37] jjcarstens commented on #82
Thanks for the tip! That gets me pointed in the right direction so if I find some time I can take a gander as well.

Looks like both our selectors work (at least testing within the console), but yours definitely reads easier.

Here's a quick test case that I've been using (in case you need it)
[code]

[2017-01-12 04:37] philss commented on #75
@Eiji7 sorry for the delay.

I'm not sure how it will work. It does not seems to have a big performance gap when using, for example, an Erlang NIF written in C or Rust. The problems are more related to the security of code. If the C/Rust code crash, the entire Erlang VM can crash. This is one of the reasons I want to give [Rust](https://www.rust-lang.org/en-US/) a try with `html5ever` (because Rus

[2017-01-14 23:50] mhsjlw commented on #37
Yeah, XPath would be awesome, especially when scraping data from a website. Chrome can automatically generate XPath paths for you to specifically grab tags which would save me a lot of pattern matching...

[2017-01-15 23:48] philss opened #83 "Add support for html5ever as an optional HTML parser"
We made [html5ever](https://github.com/servo/html5ever) and Floki work together through [ex_html5ever](https://github.com/hansihe/ex_html5ever) thanks to @hansihe and the [Rustler team](https://github.com/hansihe/rustler)! 👏

Using `ex_html5ever` can be very useful those who need a more accurate parsing of the HTML. It solves the issues #50 and #75, for example.

Since `ex_html5ever` relies on a R

[2017-01-18 21:19] mmmries opened #84 "Floki.find returning unmatching nodes"
I tried to update a project to the new `0.12.0` release, but ran into a bug. Here is a minimal reproduction of the error:

[code]

The `.messageBox p` selector should only return the first `p` node, but it actually returns both of the `p` nodes and the `Floki.text` call ends up returning the text from both of those nodes.

[2017-01-18 21:19] mmmries commented on #84
BTW thanks for doing this project. It has been very useful so far and I'd be happy to spend some time trying to fix this bug if you can point me in the right general direction of where I should look.

[2017-01-19 02:12] philss commented on #84
Hi @mmmries!

Thanks for the report. This is definitely a bug. Not sure why, but is selecting a wrong node.
I'm investigating this.

[2017-01-20 01:11] philss commented on #84
@mmmries I found the problem, but I'm not sure how to fix yet. It is here: https://github.com/philss/floki/blob/master/lib/floki/finder.ex#L202-L210

We should take all the children ids based on the list of ids that are between the current node and the sibling node. This works when there is a sibling, but don't work when the node is the last node inside his parent.

I have one idea that I will try

[2017-01-20 03:57] mmmries commented on #84
@philss thanks for pointing me in the right direction. I'll take a look and see if I can better understand that section of code specifically. Hopefully I can make an attempt at a fix before you get there so you can take me to 🏫

[2017-01-20 04:17] philss commented on #84
@mmmries nice! One way to make sure it takes all descendant nodes is to traverse the nodes that are below the current node and adding them to the stack right in that process.
This would avoid the idea of taking the ids of what we assume it's a subtree, which theoretically is simpler. But would be a little bit harder to implement since we would have to traverse and accumulate the results.

[2017-01-20 16:41] #84 closed

[2017-01-20 23:41] philss commented on #84
@mmmries This fix was released in v0.12.1. Thank you again!

[2017-01-21 04:57] mmmries commented on #84
Thanks for the release and pointing me in the right direction to work on a fix :blue_heart: :yellow_heart: :green_heart:

[2017-01-22 17:41] philss commented on #61
@marick Sorry for the delay. This problem is fixed in version `0.13.0` released today. The signature remains the same, but now you can use more complex selectors (the same that are accepted by `Floki.find`).

cc/ @StanBright

Thank you!

[2017-01-22 17:56] philss commented on #61
Update: please use version `0.13.1` that has two bug fixes.

[2017-01-22 23:09] marick commented on #61
Thank *you*. I [know](https://github.com/marick/Midje/issues) how medium-scale open source projects produce a good amount of work, but nowhere near the [egoboo](https://en.wikipedia.org/wiki/Egoboo) that big projects do.

[2017-01-27 15:55] Eiji7 commented on #82
More info at [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes), [Selectors Level 4 Editor’s Draft, 27 January 2017.](https://drafts.csswg.org/selectors/) and [Category: Selectors at jQuery docs](https://api.jquery.com/category/selectors/).
Maybe also some `Floki` and / or jQuery special selectors like: `:floki-has-text('     a text       ')` and `:floki-has-trimmed-text("a tex

[2017-02-04 10:01] baoxiehao opened #89 "How to find the previous sibling element?"
Example first:

[code]

What I want to achieve is that when I have found "panel-body" already, I need to fetch something (like heading text) from "panel-heading".
What I know is the selector "A + B" to find the next sibling element, but I didn't find the previous sibling selector in Floki.

The following code will not work(markup is above mentioned "panel-body"):

[code]

Does any one tell me how

[2017-02-05 00:22] philss commented on #89
Hi @baoxiehao!

I think there is no way to do that easily today. And worst: there is no "stable" specification for this kind of selector in the specs of CSS level 4.
The closest thing I found is the [`:has()` pseudo-selector](https://developer.mozilla.org/en-US/docs/Web/CSS/:has), which is a little bit complex to implement IMO.

One idea is to implement the `:previous-sibling` pseudo-selector. Thi

[2017-02-05 02:40] philss commented on #82
@Eiji7 thank you for the links! I think we could have a separated issue for this suggestion you made. Can you create that and add examples?

[2017-02-05 04:11] boydm opened #91 "Floki.text doesn't find text in array of simple text nodes"
In version 0.9,
`Floki.text(["hello world"])` would return `"hello world"`

In version 0.13,
`Floki.text(["hello world"])` returns `""`
note that
`Floki.text([{"div", [], ["hello world"]}])` returns `"hello world"`

This is an issue when I've already drilled down into the div and I just want to get the text of its children. A bug or is there an updated syntax?

[2017-02-05 05:37] philss commented on #91
@boydm thank you for open the issue. I will try to take a look tomorrow.

[2017-02-05 12:32] Eiji7 opened #92 "Add support for `Floki` and / or jQuery special selectors."
Add `Floki` and / or jQuery special selectors. More info at [Category: Selectors at jQuery docs](https://api.jquery.com/category/selectors/).
Examples:
[code]
Add more `Floki` special selectors suggestions as a comments for this issue.
**Note**: I split my comment and add its half as current issue on @philss request at #82 issue.

[2017-02-06 03:27] baoxiehao commented on #89
Since the spec is not available now, it's quite reasonable there is no easy way to reach what I had imaged.

So for now, I think the easiest way is to find the "panel-heading" first, and from that using "A + B" to find "panel-page" element, and lastly combine the related parts to get what I want.

Thanks for your detailed reply @philss ^_^

[2017-02-06 03:27] #89 closed

[2017-02-07 18:31] boydm commented on #91
fyi
`Floki.FlatText.get(["hello world"])` does return `"hello world"`

[2017-02-08 00:36] philss commented on #91
@boydm this is definitely a bug introduced in version 0.13. The problem is that now Floki builds a representation of HTML tree using a map with references to its children nodes. For the case of a HTML tree that contains with only text as root nodes Floki is [ignoring those nodes](https://github.com/philss/floki/blob/d861fadc8f9fc2f8b3d7e3949336f769311c8633/lib/floki/html_tree.ex#L35).

I will try

[2017-02-08 01:14] philss commented on #91
@boydm this bug is fixed in version `0.13.2`. Please update to that version. Thanks!

[2017-02-08 01:14] #91 closed

[2017-02-08 01:56] philss commented on #83
Closed by #90 .

It was released in version `0.14.0`.

Thank you @hansihe and @aphillipo!

[2017-02-08 01:56] #83 closed

[2017-02-08 20:19] boydm commented on #91
Thank you very much!

[2017-02-23 12:26] philss commented on #82
@jjcarstens implemented in #93.

Closing the issue.  I will take a look in another pseudo-classes before releasing a new version.
I'm gonna let you know here.

[2017-02-23 12:26] #82 closed

[2017-02-25 01:22] liveresume opened #94 "Feature Request: XPath selectors"
It would be great to support XPath selectors.

Looks like https://github.com/expelledboy/exml gives us a head start.

What are your thoughts?

[2017-02-27 14:43] Eiji7 opened #96 ":not selector not working with parents"
see: #95

[2017-02-28 18:20] philss commented on #96
@Eiji7 good catch! I'm investigating. Thank you!

[2017-03-01 12:23] #96 closed

[2017-03-01 18:36] Eiji7 opened #98 "Unexpected order of elements using &Floki.find/2"
## Example code:
[code]

## Expected behaviour:
`&Floki.find/2` should keep order of elements
[code]

## Current behaviour:
I got reversed `List` of elements.
[code]

[2017-03-02 02:05] philss commented on #98
@Eiji7 Thank you for the report!

I think this is related with combinators. Seems that the order is not reversed when finding inside combinators.
I'm investigating this.

[2017-03-02 03:43] philss commented on #94
Hi @liveresume!

_TLDR:_ I think it's a good idea, but I prefer to have a separated lib/package for it.

I want to have `xPath` selectors, but I'm not sure if in this project or somewhere else that can be pluggable (like a `floki-xpath` project). This is because I want to keep the API as simple as possible.
There is also another point that is implicit today: I'm only supporting HTML in Floki. With

[2017-03-14 04:09] philss commented on #98
Closed by #99.

[2017-03-14 04:09] #98 closed

[2017-03-14 04:13] philss commented on #37
@mhsjlw I agree. Please follow this issue for more details: https://github.com/philss/floki/issues/94 (sorry for the delay 😅 ).

[2017-03-14 04:26] philss commented on #37
@gmile I totally forgot to update you, but right now is possible to use Servo's HTML parser with Floki!

Please follow these instructions: https://github.com/philss/floki#optional---using-http5ever-as-the-html-parser

[2017-03-14 05:53] philss commented on #96
@Eiji7 The fix was released in version 0.15.0. Thank you! :)

[2017-03-14 05:54] philss commented on #98
@Eiji7 The fix was released in version 0.15.0. Thank you again! :)

[2017-03-14 10:33] gmile commented on #37
@philss wow, that's awesome! Thanks!

[2017-03-18 19:16] mischov opened #100 ":not selector cannot handle pseudo-classes with arguments"
**Problem**:
Definition `PARENTESIS = \([^)]*\)` from the selector lexer captures the next closing paren but not the *balanced* closing paren, which mis-tokenizes selectors such as `:not(:nth-child(2))`

This causes errors like
[code]

**Suggestion**:
(I think) Regex lacks the state to capture balanced parens, so the tokenizer should just return closing parens and the parser should make the approp

[2017-03-19 01:26] philss commented on #100
@mischov thank you for the report! 😃
I think your suggestion may work. I will try to fix this soon. Thanks!

[2017-03-21 20:24] liveresume commented on #37
Rust NIFs anyone?

https://github.com/servo/html5ever

;)

[2017-03-22 00:05] mhsjlw commented on #37
@liveresume this was mentioned, twice, see https://github.com/philss/floki/issues/37#issuecomment-272662395 and https://github.com/philss/floki/issues/37#issuecomment-286318944

[2017-03-31 19:14] buhman opened #102 "psuedo-class selectors require non-psuedo-class selectors"
I noticed [here](https://github.com/philss/floki/blob/master/lib/floki/finder.ex#L93) that selectors that only specify a psuedo-class will never match. For example:

[code]

Should match the first child of every element.

I was thinking the least-refactoring-required way to do this would be something like:

[code]

Does this seem sane?

[2017-04-04 00:08] #102 closed

[2017-04-04 02:14] #100 closed

[2017-04-05 05:04] philss commented on #100
@mischov the fix was released in version 0.16.0 as well. Thank you!

[2017-05-14 14:21] Eiji7 opened #110 "FunctionClauseError for :not pseudo selector and equal attribute value check"
Example code:
[code]
I tested on latest `0.17.0` release and `master` branch - both returns same exception to console.
**Important**: this example works in version: `0.16.0`!
ping @philss

[2017-05-16 04:10] philss commented on #110
@Eiji7 Thank you for the report. I'm looking into it.

[2017-05-24 22:25] jjcarstens commented on #110
Tested this with #114 and should be golden once that is merged:
[code]

[2017-05-25 02:15] #110 closed

[2017-05-30 17:08] edevil opened #116 "Encoding is not taken into account when parsing file"
If we're parsing an XML file with an encoding:
[code]

Example:
[code]

This example was taken from: "http://manybooks.net/index.xml"

[2017-06-01 03:49] philss commented on #116
Hi @edevil! Sorry for the delay. Today Floki uses the Mochiweb as the HTML parser. As mentioned in the [Mochiweb](https://github.com/mochi/mochiweb/issues/187) project, it does not support other encodings there are not UTF-8.

Please try @mischov ov 's suggestion to convert your document to UTF-8: https://github.com/hansihe/html5ever_elixir/issues/6#issuecomment-305258875

Thanks!

[2017-06-01 03:49] #116 closed

[2017-06-01 11:22] edevil commented on #116
Ok, thanks!

[2017-06-03 06:02] StanBright opened #117 "Selecting "p" elements duplicates them"
I'm trying to extract the body of some comments on HackerNews. If I select the surrounding "div" element and then put it through `Floki.raw_html/1`, everything seems good. However, if I select an inner `p` element, and then put the output through `.raw_html`, I get all "p" elements duplicated. It's really weird. I spent a whole day to find a work-around and couldn't. Maybe I'm missing something...

[2017-06-03 18:39] mischov commented on #117
Look at the result of `comment |> Floki.raw_html`- in my case (using the mochiweb parser) I'm seeing a ton of repeated `</p>` before the end, and no `</p>` in the middle, only nested `<p>`.

The duplication is because each `<p>` contains the subsequent `<p>`s.

To work around this problem, don't use the mochiweb parser. Things should work as expected if you use the html5ever parser.

[2017-06-04 07:35] StanBright commented on #117
@mischov thanks for the quick response, mate! Using `html5ever` resolved the issue.

Thanks for the great work you are doing with Floki!

[2017-06-04 07:35] #117 closed

[2017-06-04 17:29] mischov commented on #117
The great work with Floki is wholly @philss's. :)

[2017-06-15 04:52] aphillipo opened #118 "Possibly rename Floki.apply_transformation to Floki.map"
Hi @philss! Thanks again for Floki...

I have a quick question about apply_transformation - in my head I was looking for Floki.map rather than Floki.apply_transformation.  I wonder if you think the current naming is correct?

In my head Enum.map means iterate over all all items in an Enumerable; Floki.map means the same for all elements in a Floki html_tree?

I'm going to use apply_transformation

[2017-06-18 02:31] philss commented on #118
Hi @aphillipo!

I agree with you. I'm not that happy with the current name, but I did not realise that this is basically a map. I would love if you rename it!

I also think in the future we could add an implementation of the `Enumerable` protocol to the `Floki.HTMLTree` struct. This would make easy to traverse and apply some transformations.

Thank you!

[2017-06-18 09:26] aphillipo commented on #118
Oh!  That is a great idea @philss - would all of Enum then work with Floki?

[2017-06-19 09:11] aphillipo commented on #118
I'm looking at implementing Enumerable for ```Floki.HTMLTree``` now.  It'll be good for to level up my Elixir ability!  Thanks!

[2017-06-20 03:10] philss commented on #118
Yes, I never did such thing (implementing a protocol for a complex struct), but I think it works! Ping me if you need help with something. Thanks!

[2017-06-20 04:18] aphillipo commented on #118
I'm not certain I don't prefer the original tuples/lists of the html_tree type :-/

Something like this get's us 99% of the way there, but I'm not sure you can implement Enumerable unless you have a defstruct type.

https://github.com/rrrene/html_sanitize_ex/blob/master/lib/html_sanitize_ex/traverser.ex

A little confused by the ordering of Floki.HTMLTree:

1) Root Node looks to always be 1, but a

[2017-06-21 06:08] philss commented on #118
Hi @aphillipo!

Answering the points:

It is possible to have more root nodes when you have, for example this kind of document fragment:

[code]

It does not have a parent, and has more than one root. This way, the two divs are root elements.

I'm not sure if I understood correctly, but I think you can get the `node_ids` from the `HTMLTree struct` as reference. If I remember correctly, It will alw

[2017-07-03 23:11] hansihe opened #122 "Update html5ever version in readme"
The currently listed version doesn't support OTP20. The latest version of `html5ever`, `0.5.0` has been updated to support OTP20.

[2017-07-04 00:40] #122 closed

[2017-07-04 00:41] philss commented on #122
@hansihe version updated! Thank you! 😃

[2017-07-22 05:29] philss commented on #118
I did some work based on our conversation. I came up with this PR merged: https://github.com/philss/floki/pull/127 and also this one that is open #128.

Please check and tell me what you think.

Thanks!

[2017-07-22 05:36] aphillipo commented on #118
This is brilliant!  And very good timing for me!  I'm creating micro payments platform for articles and I need to be able to give a sensible excerpt from a HTML structure.  Obviously making something a certain length with tag's etc. isn't simple without something like this!  I'll implement my excerpt/filter bad tags stuff and get back to you with any issues!

[2017-07-22 17:41] philss commented on #118
@aphillipo Nice, thank you! 😃
I will merge this PR and close the issue. Please reopen it if you think it's needed. I will release a version soon with this change.

And one more thing: you said you need to excerpt bad tags. Maybe `Floki.filter_out/2` can help you.

[2017-07-22 17:42] #118 closed

[2017-08-03 07:31] navinpeiris opened #132 "raw_html removes content within self closing tags"
When using `raw_html` with self closing tags that contain some text, the said text is lost in the output. This becomes problematic when trying to get the xml content for rss items etc.

For example, using `raw_html` after parsing the following xml:

[code]

results in:

[code]

[2017-08-03 07:31] navinpeiris commented on #132
Pull requested submitted for this issue: https://github.com/philss/floki/pull/131

[2017-08-03 19:08] mischov commented on #132
In HTML5 void elements (which `<link>` is) cannot have closing tags, and consequently cannot have contents. https://html.spec.whatwg.org/multipage/syntax.html#elements-2.

I believe void elements should get closed automatically by HTML5 parsers, meaning that if they have contents, it will be parsed as the contents of the void element's parent.

In your case, this means that the correct HTML5 parsi

[2017-08-03 19:23] mischov commented on #132
That said, your fix suggests that the data is being incorrectly parsed by `mochiweb_html`, then just dropped by `raw_html`, so maybe your fix is a good one for this particular case.

[2017-08-04 01:54] philss commented on #132
Yes, I'm assuming that his fix is meant to represent HTML that was wrongly parsed. I think it's OK to support this scenario, even if it's representing an "invalid" HTML5 since it is what was the parsed tree.

Thank you @navinpeiris and @mischov! 😃

[2017-08-04 01:54] #132 closed

[2017-08-05 19:02] philss commented on #92
I will close this one and open individual issues for each selector we want. Thank you.

[2017-08-05 19:02] #92 closed

[2017-08-18 06:36] caalberts opened #134 "Get values using multiple selectors"
I'm working on parsing a HTML listing to get various attributes from each listing.

An example of what I'm doing:

Given the following HTML:
[code]

I'd like to get a list of item names and descriptions:
[code]

My current approach:
[code]

Is there a better approach to getting the name and description without using multiple `Floki.find` calls?

[2017-08-18 14:32] mischov commented on #134
That's how I'd do it.

There is some duplicate overhead for running `Floki.find` multiple times on the same item because `Floki.find` has to convert the item to an `HTMLTree` in both finds, but generally the items selected as part of this pattern are pretty small and the overhead is low.

I actually designed [Meeseeks](https://github.com/mischov/meeseeks) a bit differently than Floki with this "se

[2017-08-19 01:43] philss commented on #134
Today there is no better way of doing that. I think an implementation of `Floki.text/1` that returns a list of text nodes would make things easier.

For example:

[code]

What do you think? It would help?

[2017-08-19 03:44] mischov commented on #134
I know that a lot of times when I'm trying to parse an item from a list of items I'm also getting an `href` attribute, or something nested down further.

Something like `text_nodes` might help in some cases, but I think @caalberts's current approach is the clearest, most flexible solution.

[2017-08-19 21:44] philss commented on #134
@mischov yes, you are right about being the most flexible. I think the `text_nodes` would help in this and other cases, but not necessarily is the clearest way.

@caalberts there is another way to do that without a new function. You could find the inner elements using `Floki.find("h3, p")`. This will only work if the only nodes inside the `.item` are "h3" and "p".

Example:

[code]

You could impr

[2017-08-20 06:29] caalberts commented on #134
Thanks for the suggestions.

@philss `text_nodes` is a good idea, but I think it might get unwieldy when the element has many nested elements. If a user is only interested in a few of the text nodes, pattern matching for the required text nodes would be very cumbersome.

[2017-08-22 05:26] sergiotapia opened #135 "How to remove all elements with css class/id contains a specified string?"
I have a bunch of `filter_out` calls to specific variations of footers, for example:

[code]

The problem is that I can't guess all the footer classes and IDs online. It's impossible. Is there a way for me to remove all elements where the class or id contains footer anywhere?

It would remove:

[code]

Appreciate any assistance!

[2017-08-22 05:44] philss commented on #135
Hi @sergiotapia!

You can use the "contains" attribute selector from CSS3. Example:

[code]

And with Floki:

[code]

This will remove all elements that has classes or ids containing "footer" in the name, and also `footer` elements.

Note that `Floki.filter_out/2` only accepts complex selectors since version [0.13.0](https://github.com/philss/floki/blob/master/CHANGELOG.md#0130---2017-01-22).

[2017-08-22 05:46] philss commented on #134
@caalberts OK, thanks for the advice! I think I will put aside that idea for a bit.

May I close this issue for now?

[2017-08-22 07:44] caalberts commented on #134
:+1:

[2017-08-22 12:41] #134 closed

[2017-08-22 21:41] sergiotapia commented on #135
Works terrific! Thank you @philss

[2017-08-22 21:41] #135 closed

[2017-08-22 22:40] philss commented on #135
Awesome, @sergiotapia!

[2017-08-23 15:24] caalberts commented on #134
Just to follow up, after trying out

[code]

The pattern match would raise error when the element becomes more complex. For example, an element like `<h3><a href="#">Product <span>name</span></a></h3>`, would return a longer list that would not match `[item]`. The pattern matching needs to be very precise and it makes the implementation very rigid.

I'll stick with my previous approach. Thanks so

[2017-09-19 02:41] somlor opened #136 "ArgumentError when given <script> string"
Trying to upgrade from `0.12.0` to `0.18.0` but getting an argument error when `Floki.text` receives a script tag:
[code]

[2017-09-21 15:43] somlor commented on #136
@philss works great, thanks! 👍

[2017-09-21 21:35] #136 closed

[2017-09-27 21:26] danturn opened #138 "error with Floki.find/2"
Hi,

I have been using Floki for a bit without issues but had a crash today that i can't repro

the stack trace is:

[error] GenServer #PID<0.804.0> terminating
** (Protocol.UndefinedError) protocol Enumerable not implemented for "xml"
    (elixir) lib/enum.ex:1: Enumerable.impl_for!/1
    (elixir) lib/enum.ex:116: Enumerable.reduce/3
    (elixir) lib/enum.ex:278: Enum.any?/2
    (elixir) lib/enum

[2017-09-27 21:31] philss commented on #138
Hi Dan!

I think this is something related to a parsing of XML. I will try to reproduce with some inputs.
Can you tell me the Elixir version you are using?

[2017-09-27 21:36] danturn commented on #138
That was a quick response!
Erlang/OTP 19 [erts-8.0.5] [source-99c6fd1] [64-bit] [smp:2:2] [async-threads:10] [hipe] [kernel-poll:false]
Elixir (1.4.5)
Let me know if i can help at all or if it's just user error on my part ;p

[2017-10-02 04:22] philss commented on #138
Hi @danturn. Sorry for the delay. This PR will fix the issue: https://github.com/philss/floki/pull/139
Please take a look.

[2017-10-02 23:38] #138 closed

[2017-10-04 10:39] danturn commented on #138
Hey, Sorry for the delay! Awesome work, thanks for that

I will see if I can get the client to test again but that looks like exactly what my issue was

thanks!

Dan

[2017-10-21 11:57] philss opened #142 "Format codebase files with the upcoming code formatter"
This is a copy of the issue that was created by José at Elixir's core repository: https://github.com/elixir-lang/elixir/issues/6643. So please read that issue before proceeding.

The idea is to run the upcoming Elixir formatter against all modules. To encourage more people to contribute, I will ask you to format only one module (and its test module) per pull request.

Please open the pull request

[2017-10-21 12:08] philss opened #143 "Add :last-child pseudo-class selector"
This pseudo-class selector returns the node that is the last-child of a given parent. You can check examples here: https://developer.mozilla.org/en-US/docs/Web/CSS/:last-child

The ideia here is to work with [`Floki.Selector.PseudoClass`](https://github.com/philss/floki/blob/master/lib/floki/selector/pseudo_class.ex) module, and with the branch that is present on `pseudo_class_match?/3` (private f

[2017-10-21 12:16] philss opened #144 "Add :first-of-type pseudo-class selector"
This pseudo-class selector will return only the first node of a given type (or any type, if universal selector - `*` is used). Examples: https://developer.mozilla.org/en-US/docs/Web/CSS/:first-of-type

The area related to this feature is very similar to the issue https://github.com/philss/floki/issues/143.

[2017-10-21 12:20] philss opened #145 "Add complex selections to `:nth-child` pseudo-class selector"
Today we only accept simple selectors, like `:nth-child(1)`, `:nth-child(odd)` or `:nth-child(even)`.

The idea is to support more complex selectors, like: `:nth-child(2n+1)`.

Examples can be found here: https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child

[2017-10-21 17:23] #143 closed

[2017-10-22 17:17] #145 closed

[2017-10-22 17:21] #144 closed

[2017-10-22 17:28] mischov commented on #145
The regex for parsing functional notation arguments does not appear to account for whitespace.

[code]

See: https://drafts.csswg.org/selectors-3/#nth-child-pseudo

[2017-10-22 17:43] mischov commented on #145
@philss @nirev
Support for a negative `b` value also appears to be missing.

From above document: `:nth-child(10n-1)  /* represents the 9th, 19th, 29th, etc, element */`

[code]

[2017-10-22 17:58] nirev commented on #145
Thanks, @mischov!

I'll fix those!

[2017-10-22 19:19] philss commented on #145
Thank you, @mischov and @nirev!

[2017-10-25 04:12] philss commented on #142
closed by #152

[2017-10-25 04:12] #142 closed

[2017-11-19 00:28] jhchen opened #155 "Doctype triggers no function clause matching raw_html/2"
Sending HTML with a doctype through `parse` and `raw_html` produces `** (FunctionClauseError) no function clause matching in Floki.raw_html/2`

[code]

Inspecting into the input it looks like after parse the first tuple is `{:doctype, "html", "", ""}` which has four elements and the general match is only expecting three [`defp raw_html([{type, attrs, children}|tail], html)`](https://github.com/phi

[2017-11-21 01:39] philss commented on #155
@jhchen I think you are right. Just one thing: can you confirm if you are using the HTML5ever parser?
Because I think that the Mochiweb parser removes the doctype. This may be the reason we didn't see before.

[2017-11-21 19:44] jhchen commented on #155
Yes we are using html5ever 0.5.0 and floki 0.19.0

[2017-11-27 04:42] philss opened #156 "Test with html5ever HTML parser on CI"
Today we only test Floki with the default parser, which is Mochiweb's parser.

We need to test with `html5ever` too in order to prevent bugs without noticing from our tests.

This would avoid the problem on issue #155.

[2017-11-27 04:47] philss commented on #155
@jhchen I'm sorry for the delay. I think most of the problem is that we are not testing against the html5ever version. I created the #156 to fix that.

I will be able to fix the bug probably this week. If you want to give a try, it's probably create another function like https://github.com/philss/floki/blob/v0.19.0/lib/floki.ex#L117-L119, but concatenating the strings to build a valid HTML5 doctyp

[2017-12-04 04:47] #155 closed

[2017-12-07 04:35] pguillory opened #158 "raw_html does not re-encode HTML entities"
Example:
[code]
Expected:
[code]

[2017-12-10 20:56] philss commented on #158
Hi, @pguillory ! Sorry for the delay. This is a good point.

This PR should solve the problem: https://github.com/philss/floki/pull/159. Can you check, please?
Thanks!

[2017-12-13 19:15] #158 closed

[2017-12-17 12:50] pguillory commented on #158
Thanks for the fix!

[2017-12-23 07:36] newterminator opened #160 "How to filter out empty paragraphs using Floki"
I have spent the last couple hours trying different combinations to get rid of empty paragraphs in a html string input.
The `str` is `"<p><br></p><p>hello</p><p>now is the <b>time</b></p><p><b><br></b></p>"`

The final string I am trying to extract is  `"<p>hello</p><p>now is the <b>time</b></p>"`

The closest I am was with `Floki.filter_out(str, "br") |> Floki.raw_html`

I would appreciate any he

[2017-12-23 20:41] philss commented on #160
Hi @newterminator! I'm trying to think in a way to solve this.

One way would be to remove the empty nodes, with a new selector `:empty` (it is not implemented yet). But [according to the spec](https://developer.mozilla.org/en-US/docs/Web/CSS/:empty), this would not remove the nodes that contain break lines.

I'm trying to think about selectors that could work in combination with the ":not" select

[2017-12-24 01:08] newterminator commented on #160
HI @philss, Thank you for your input. I was aware of the `:empty` selector. I will look around in JavaScript to see if the frontend can deal with this...but if anyone comes up with a solution on the elixir side, then that will be better, since I can confirm the required output string before saving it to the database.

[2017-12-24 19:31] mischov commented on #160
Here is a possible solution using [Meeseeks](https://github.com/mischov/meeseeks), which allows [custom selectors](https://github.com/mischov/meeseeks#custom-selectors) for this type of situation.

### Create a custom selector

In this case, the selector matches elements that have a text node as a descendant, but one could go further and make sure that the text node contains characters other than

[2017-12-26 18:25] newterminator commented on #160
Hey @mischov, thanks so much for a detailed writeup. Your solution using your Meeseeks library solves it correctly. I just tested other strings that come in via the input and they all worked. I am going to read up more on the Meeseeks' documentation as well.

Thanks for the Christmas gift of your library and your help on resolving the issue.

[2017-12-26 18:25] #160 closed

[2018-01-09 11:12] grych opened #161 "raw_html encodes HTML where it should not"
#158 fixed the issue with re-encoding HTML entities, but introduced the new issue I am facing in my project: it encodes them where it shouldn't:

Example:

[code]
Expected (this is what we can observer in 0.18):

[code]

[2018-01-12 14:56] grych commented on #161
Thanks!
BTW it is not only an issue with `<script>`.

[code]

Shouldn't `raw_html/1` preserve the text in the tag?

[2018-01-22 16:17] kevinwo opened #163 "HtmlEntities module not found for encode/1 when running production"
When `defp raw_html([string | tail], html) when is_binary(string)` attempts to use HtmlEntities.encode/1, it cannot be found:

    ** (UndefinedFunctionError) function HtmlEntities.encode/1 is undefined (module HtmlEntities is not available)
        HtmlEntities.encode("Text")
        (floki) lib/floki.ex:114: Floki.raw_html/2
        (floki) lib/floki.ex:157: Floki.tag_for/3
        (floki) lib/f

[2018-01-23 19:32] davydog187 commented on #161
@philss I think this bug is more pervasive than what you're suggesting. This behavior is both inconsistent as well as incorrect.

Inline `<style>` tags also get their inner css styles escaped, which can break css rules. For example

[code]

The other problem I see is that the intention of #159 was to keep input/output consistent, but its still breaking it when you don't want values escaped.

[2018-01-23 19:34] davydog187 commented on #161
Can I propose we add second argument to `raw_html/1` that allows us to configure whether we escape or not?

Related, right now Floki exposes `raw_html/2`, which is an implementation detail, and should not be exposed to the user. @philss @grych if you agree with this approach I'd be happy to put in a PR

[2018-01-23 19:58] davydog187 commented on #161
Another alternative is to note escape the insides of `<style>` or `<script>` as you mentioned, but I fear that there may be more use cases than what we're currently considering

[2018-01-23 20:33] grych commented on #161
Cool, configurable escape would solve my issue.

[2018-01-25 02:36] philss commented on #161
Hi @davydog187! Thank you for the input.

I [did the later suggestion](https://github.com/philss/floki/pull/164), which is to ignore the `<script>` and `<style>` tags. I think this is not enough, and like you mentioned, may not cover all cases. But fix the major cases.

Related, right now Floki exposes raw_html/2, which is an implementation detail, and should not be exposed to the user. @philss @g

[2018-01-25 10:30] francois2metz opened #166 "Floki.attr can mix the order of the nodes"
I have some html and I need to modify some content. I tried to use `Floki.attr`, but on some specific html structure, the resulting tree have nodes with another order.

I have a testcase to illustrate the issue:

[code]

[code]

I tried to fix the issue, but I struggle on the tree -> tuple conversion. Do you have any idea ?

[2018-01-25 13:34] #163 closed

[2018-01-25 13:42] philss commented on #163
Hi @kevinwo! The PR #165 should fix the problem. I will release a new version very soon. Thanks!

[2018-01-25 21:05] davydog187 commented on #161
Thanks @philss, I'll put in a PR after #164 is merged

[2018-01-25 23:56] philss commented on #161
@davydog187 @grych  #164 is merged and published now. Thanks!

[2018-01-25 23:57] philss commented on #161
I will let this issue open until the optional encode for `raw_html`.

[2018-01-26 00:02] philss commented on #163
@kevinwo please try again with version `0.19.3`. It should work now.

[2018-01-26 00:27] davydog187 commented on #161
Thanks I’ll take a stab tomorrow!
On Thu, Jan 25, 2018 at 6:57 PM Philip Sampaio <notifications@github.com>
wrote:

[2018-01-27 14:41] #166 closed

[2018-02-03 08:04] davydog187 commented on #161
@philss this should be closeable now. @grych can you verify that this addresses all of your concerns?

I think we need a new Floki release

[2018-02-03 09:50] grych commented on #161
Thanks guys!
`config :floki, :encode_raw_html, false` did the trick. After the release I'll update Drab's dependencies.

[2018-02-03 09:50] #161 closed

[2018-02-06 02:12] philss commented on #161
Hi @grych, @davydog187 . The feature was released under version [`0.20.0`](https://hex.pm/packages/floki). Thanks!

[2018-02-06 02:12] philss commented on #166
Hi @francois2metz. This fix was released under version [`0.20.0`](https://hex.pm/packages/floki). Thank you!

[2018-02-21 15:19] f34nk commented on #37
Please have a look at:
https://github.com/Overbryd/myhtmlex

[2018-02-21 15:28] Overbryd commented on #37
@f34nk Happy to help on this one.

I also wrote https://github.com/Overbryd/nodex that can be used to provide a safe execution (c-)node to give the best in performance/safety.

I would refrain from using myhtmlex widely as a NIF without explicitly checking the crash-safety requirements of the application requiring it. So maybe providing two modes of operation (NIF and C-Node) might be the best way

[2018-02-22 01:40] philss commented on #37
I didn't know we had bindings for `myhtml`. That's great! Thank you for the work on that, @Overbryd!

We could for sure write an adapter like we did for `html5ever` parser. I don't know yet how we would enable the configuration of a C-Node, or if this is needed for the adapter. We can elaborate more ideas on that.

Thank you for letting us know, @f34nk! Can you open a new issue with the proposal?

[2018-02-22 09:26] f34nk opened #171 "Proposal: add parser adapter using myhtmlex"
A module to decode html into a tree structure.
Based on Alexander Borisov’s myhtml, this binding gains the properties of being html-spec compliant and very fast.

see [@Overbryd comment](https://github.com/philss/floki/issues/37#issuecomment-367363433)

I would refrain from using myhtmlex widely as a NIF without explicitly checking the crash-safety requirements of the application requiring it. So

[2018-03-01 16:53] merongivian opened #172 "Selectors that include semicolons are treated as pseudo class selectors"
First of all thanks for the awesome library, works great for parsing xml

Im trying to use find for getting a node that a has a semicolon, in this example i want to get `yt:channelId`

[code]

But when i try i `Floki.find("yt:channelid")` i get:
`[warn]  Pseudo-class "channelid" is not implemented. Ignoring`

Is there a way to ignore the colon, so it doesn't think its a pseudo class selector?

[2018-03-01 18:01] mischov commented on #172
Try `Floki.find(xml, "channelid")`.

[2018-03-01 22:00] merongivian commented on #172
@mischov using the `|` instead of the colon worked, thanks 👍

[2018-03-01 22:00] #172 closed

[2018-03-03 09:06] mikob opened #174 "protocol Enumerable not implemented for "xml""
Seems to be similar to #138

This is the url I'm trying to parse:
http://t2.jiji.com/linkbox?userID=shinsei-bk_v2&pageID=LB0113_MARKET_COMPOSITE&tab=1

Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.6.1 (compiled with OTP 19)

Let me know if I can do anything else to help!

[2018-03-04 10:02] dariodf commented on #75
I tried to use `html5ever` and i got too many errors when parsing.

So here's a (quite expensive) solution for this problem:
[code]
Then, you use this function before your `find` and `text`:
[code]

[2018-03-20 20:17] ShaneWilton opened #175 "Floki.find/2 fails on HTML that consists entirely of a comment"
When attempting to upgrade from Floki 0.7.1 to 0.20.0 I noticed this change.

Under 0.7.1:

[code]

Under 0.20.0:

[code]

[2018-03-24 21:26] philss commented on #175
@ShaneWilton thank you for the report! This is a bug introduced when we added the `Floki.HTMLTree` abstraction. I will investigate more of this one later.

[2018-04-06 02:30] philss commented on #175
@ShaneWilton fixed in [version 0.20.1](https://github.com/philss/floki/blob/master/CHANGELOG.md#0201---2018-04-05). Please check. Thanks!

[2018-04-06 02:30] #175 closed

[2018-04-06 02:35] ShaneWilton commented on #175
Thanks Philip!

I'll verify this is fixed when I'm back in my office tomorrow.

On Thu, Apr 5, 2018, 19:30 Philip Sampaio <notifications@github.com> wrote:

[2018-04-06 03:05] philss commented on #174
Closing. Please re-open if you still facing the problem in the last version (0.20.1).

[2018-04-06 03:05] #174 closed

[2018-04-06 22:00] ShaneWilton commented on #175
@philss I just ran through a battery of tests in my app with 0.20.1, and everything seems to be working great. Thanks for looking into this and fixing the issue!

[2018-04-11 05:21] fcastellanos opened #177 ":last-of-type not working?"
I have several elements with the same class and want to select the last one, I'm no CSS expert but according to this [stackoverflow](https://stackoverflow.com/a/7298062/83245) response there's a way by doing this `.myclass:last-of-type` but it seems that Floki does not support it.

When I do this:
[code]

I'm getting this error
[code]
So in order to get around this at the moment I'm having to do t

[2018-04-15 15:13] philss commented on #177
Hi, @fcastellanos! Thank you for the report!
Theoretically you are doing right: the syntax `.mspace:last-of-type` is correct. Floki should be able to parse and select the correct nodes. I think this is related somehow to XML namespaces.

Could you provide an example of the document you are having this issue? Thank you! :)

[2018-04-16 18:49] fcastellanos commented on #177
This is the link https://apps.cbp.gov/bwt/mobile.asp?action=n&pn=2504

And the example is something like...
[code]

I want to grab the last of the `mspace` or the second one which is the same.

[2018-04-19 07:10] tomciopp opened #178 "Make logging configurable"
There is no option to disable logging, while it is helpful to see that a character is being ignored it just adds noise when in test or production.

[2018-04-19 10:51] jtomaszewski commented on #161
Can I add a note in Changelog that it's a breaking change? This broke our app, after updating floki from 0.18 to 0.20.1 .

I remember I looked at the floki's changelog, but I thought all the changes were minor. We needed to add `config :floki, :encode_raw_html, false` config to bring back old behaviour.

[2018-04-28 14:08] jasonl99 opened #179 "(FunctionClauseError) no function clause matching in Floki.Finder.get_matches/3"
I am getting this error when trying to find anything in a particular document.   I've worked with elixir in the past a little, but it's quite new to me so I wouldn't be the least bit suprised if this is user error :nerd_face:.

Here's the minimum code to recreate the problem:

[code]

The error output lists the arguments passed in, but the first one is huge - the html is about 250k, so I've trunca

[2018-04-28 14:11] pdgonzalez872 commented on #179
Could you try with “” instead of ‘’ ?

[2018-04-28 14:13] jasonl99 commented on #179
@pdgonzalez872 LOL That was a quick fix!  It worked!  I'm too used to ruby using both types of quotes.  Thank you!

[2018-04-28 14:14] pdgonzalez872 commented on #179
Great! Keep at it! :)

[2018-04-28 22:35] philss commented on #177
hi @fcastellanos ! sorry for the delay.

I'm not sure what you were doing wrong, but to archive what you want you will need to select first the container that is the parent of the last `.mspace`, and then you select the `.mspace:last-of-type`.
If your last `.mspace` is always inside the last `nav`, you can do the following:

[code]

If it's the only one inside the parent, you can omit the `:last-o

[2018-04-28 22:37] philss commented on #179
Thank you for the report, @jasonl99 ! And thank you for solving this, @pdgonzalez872 ! ❤️

[2018-04-28 22:37] #179 closed

[2018-05-05 03:54] philss commented on #177
Hi @fcastellanos . I will close this one. Feel free to re-open if your problem persist. Thanks!

[2018-05-05 03:54] #177 closed

[2018-05-08 13:17] grych opened #181 "Loosing information about single/double quotes in the attribute value"
When parsing, Floki loses the information if the attribute was introduced as single or double quoted text. This is generating an issue when rendering attributes with double quotes inside.

Observe the example:
[code]
Attribute is retrieved correctly, as a proper Elixir string. But let's try to re-render the parsed HTML:
[code]
This is a different html than it was in the beginning. And the attribut

[2018-05-08 15:49] mischov commented on #181
Good point. I can't think of a better solution.

[2018-05-08 16:17] grych commented on #181
It should do the trick, as no other escaping single or double quotes is permitted in the attribute value, as well as the value containing both single and double quote in the same time is not allowed.

[2018-05-09 03:49] philss commented on #181
@grych good catch! I think your solution should work good. Please go ahead with a PR. Thank you!

[2018-05-09 06:48] grych commented on #181
@philss will do!

[2018-05-09 09:36] grych commented on #181
Fixed in #182.
Please let me know when it comes into the release, as I need to update deps for Drab. Thanks!

[2018-05-09 09:36] #181 closed

[2018-05-11 03:39] philss commented on #161
Hi, @jtomaszewski ! Sorry for the delay. I didn't see the message. Please go ahead. Thanks!

[2018-07-20 17:01] philss opened #186 "Update README and docs with our new logo"
Since Floki won the [viki logo](https://github.com/arasatasaygin/openlogos/issues/21) from the [Open Logos project](http://openlogos.org/), we should update the README and the HexDocs page to include that new logo. 😃

[2018-07-28 20:38] #186 closed

[2018-08-31 17:06] katehedgpeth opened #188 "Bug: attribute values can no longer be iodata lists"
Hi and thanks for this great tool! It's been a big help for us in parsing and incorporating content from our CMS into our phoenix site.

We've recently attempted to upgrade to 0.20.3 and realized that there's a breaking change in a recent commit:
https://github.com/philss/floki/commit/c5eb4fddc143c2dd784767e3d1fa5b17acf8df01#diff-89b5940fb49d7d4e900ac542fea22545R87

The above commit checks attribu

[2018-09-07 05:26] philss commented on #188
Hi @katehedgpeth! Thank you! And also thank you for open the issue.

Sorry for the delay. It would be great if you open a PR with this fix! 😄
Please add a test case for this if possible.

[2018-09-07 05:32] philss commented on #178
I've being thinking on this feature and actually I think we can reduce the level of logging from `warn` to `info` or `debug` instead of configuring to log or not. What do you think?

Also I plan to change the interface a little bit on this matter. I think a parsing error on a selector should result in an error. This particular change can wait for feature versions, specially if/when we have an `Eit

[2018-09-10 20:01] katehedgpeth commented on #188
@philss PR submitted!

[2018-09-18 23:18] #188 closed

[2018-09-24 04:37] philss commented on #188
@katehedgpeth this fix is now available on [`v0.20.4`](https://github.com/philss/floki/blob/master/CHANGELOG.md#0204---2018-09-24).

[2018-10-09 03:11] philss opened #190 "Remove support for Elixir 1.3 and add support for Elixir 1.7"
Since we have Elixir 1.7 as the stable version, we can remove support for minor versions that are too old.

This change involves:
- changing the Elixir version requirement at `mix.exs`;
- changing the build matrix on `.travis.yml`.

[2018-10-09 03:18] philss opened #191 "Run the formatter on build"
We should make the formatter run on each build, by using the `--check-formatted` flag.
This change will ensure that each pull request will fail if have formatting issues.

Examples:
- https://github.com/elixir-lang/flow/blob/master/.travis.yml#L24
- https://github.com/elixir-lang/gen_stage/blob/master/.travis.yml#L13

Notice that the [`formatter`](https://medium.com/blackode/code-formatter-the-big

[2018-10-09 03:46] philss opened #192 "Change the level of logging from warn to info"
Since we are not warning for a too important information and the program is just ignoring tokens, we should reduce the level of logging from `warn` to `info`.

Related to #178.

[2018-10-09 03:48] philss commented on #178
Closing in favor of #192.

[2018-10-09 03:48] #178 closed

[2018-10-09 04:06] herbstrith commented on #190
Hey there, i made a PR for this issue and i hope it is of your liking.
Also, i have one question: I see that you exclude the elixir 1.6 and the OTP  19.3 combination. Any reason for that? (from what i read on the documentation the two should be compatible)
cheers

[2018-10-09 09:53] hlhr commented on #192
I will submit a PR for this.

[2018-10-09 11:10] hlhr commented on #191
I will submit a PR for this :)

[2018-10-09 11:12] hlhr commented on #191
I will submit a PR for this.

[2018-10-11 22:36] #190 closed

[2018-10-11 22:37] philss commented on #190
@herbstrith I don't remember any reason for that. Feel free to open another PR with that. Thanks!

[2018-10-11 22:39] philss commented on #192
Closed by #194

[2018-10-11 22:39] #192 closed

[2018-10-11 22:40] philss commented on #191
Closed by #195.

[2018-10-11 22:40] #191 closed

[2018-11-07 19:19] lpvm opened #196 "html5ever faliled to compile"
I've installed rust, rust standard library, toolchain and cargo from the distro package manager.
Configured `mix.exs` as explained.
When trying `mix deps.compile`, I get the following error:
[code]
The file `Cargo.toml` is as:
[code]
The versions of Elixir and Erlang are:
[code]

Didn't find any help about this error in my web search.
What can I do?

[2018-11-07 22:41] mischov commented on #196
Related: https://github.com/hansihe/html5ever_elixir/issues/11

[2018-11-07 22:48] lpvm commented on #196
Thank you @mischov!

[2018-11-07 22:48] #196 closed

[2019-01-14 19:10] navyad opened #199 "How to extract data inside script tag"
I have this raw [html][1] which need to be  parsed.

The list of movies lies inside a javascript [tag][3], which is very difficult to parse.

I guess it would be easier if complete DOM tree can be created/loaded and then parse it.

Is there any way to make things easier ?

  [1]: https://gist.github.com/navyad/cd03bc702ea17623571bb89e183f08a8
  [2]: https://github.com/philss/floki
  [3]: https://g

[2019-01-14 20:19] mischov commented on #199
If you want to have JS be evaluated you need to fetch the page with a headless browser, which can be done via something like [Hound](https://github.com/HashNuke/hound) or [Wallaby](https://github.com/keathley/wallaby).

If you want to try extracting from that script tag you linked to, you'll need to select the text from that script tag (check out the options for `Floki.text`), the use something li

[2019-01-16 10:24] #199 closed

[2019-01-16 10:24] navyad commented on #199
Thanks @mischov

[2019-03-27 21:03] vans163 opened #202 "cannot find classes with - in them. while selector works"
[code]

Basically if the class has a - in it, Floki breaks and cannot find it.

[2019-03-27 21:52] vans163 commented on #202
nevermind wierd.

[2019-03-27 21:52] #202 closed

[2019-04-16 06:20] alex88 commented on #171
Is there an update on this or any way to speed up the use of `find` and parsing? Trying to profile our app we're seeing that mochiweb_html functions are those taking most of the time

[2019-04-16 21:46] chengyin opened #206 "Children/content manipulation support"
Currently we can manipulate tag name and attributes with `Floki.map/2`, what about the children/content?

Use case is to override certain elements:
- Input: `<img src="nonfound.jpg" alt="picture" />`
- Output: `<div>picture</div>`

[2019-05-13 20:46] victormuramoto opened #207 "Manipulate text content from HTML tags"
I am new in Elixir and Floki and I saw that it is possible to manipulate tags and attributes using `Floki.map/2`, but I am trying to manipulate text content and I do not have any success. Is there a way to do that with Floki?

E.g,: the <a> tag is supposed to change the `Google` text content to `Victor` but nothing happens.

Obs.: I am not sure if the anonymous functions is correct for this case.

[2019-05-17 15:28] philss commented on #207
@victormuramoto I think the problem is that the signature of what is expected by the `transformation` function is wrong. This function should receive only the tag name and attributes, and cannot receive the children.
I don't think it is possible to do this right now, since we should change the way the transformation works by receiving the children nodes.

I didn't have the time to go deeper in thi

[2019-05-17 15:30] philss commented on #206
@chengyin I'm sorry for the delay.
I think you can't do this right now for the same reason I explain in #207.
I'm going to investigate more how can this be done.

[2019-05-17 16:58] chengyin commented on #206
Thanks Philip, no need to be sorry about the delay. We use floki in production and thank you for the work you've already done.

[2019-06-05 14:36] ericlathrop commented on #206
I wanted to solve this same issue, and I wrote my own version of `map` that supported manipulation of child elements:

[code]

Example of removing a child element from parent:
[code]

Example of element removing itself by returning `nil`:
[code]

Example of element replacing children:
[code]

I think it makes sense to replace `Floki.map/2` with this implementation, but it would be a breaking chang

[2019-06-10 15:47] philss commented on #206
@ericlathrop Thank you for the suggestion! I started to think that the name of this function should not be `map`, since it does not work as the conventional mapping of lists.

Maybe we can name it `traverse_and_update`, or something similar. Maybe we can deprecate the current `map` .
What do you think?

[2019-06-10 17:01] ericlathrop commented on #206
I think `map` is a decent name because it maps the input tree to a new tree. On the other hand, I like picking a new name to avoid the breaking change. I'll put together a PR with `traverse_and_update`, and you can change the name if you want.

[2019-06-10 17:01] philss commented on #206
@ericlathrop OK, go for it. Thank you!

[2019-06-30 15:21] philss commented on #206
@ericlathrop Thank you for this PR. I'm thinking of soft deprecate the `Floki.map/2` after this. I think `traverse_and_update` is a better name because it is explicit on its intentions.

[2019-07-23 17:37] ericlathrop opened #209 "Floki.raw_html/2 doesn't correctly encode attributes with both single and double quotes"
Example:

[code]

Expected either:
[code]
or
[code]

[2019-07-30 11:28] Gurimarukin opened #210 "Unexpected behaviour when source use tabulations"
Hi!

I came across a strange case where selectors weren't working as expected:

[code]

If we escape the tabs:

[code]

I confess, this is a case where the class attribute isn't well formatted. But it's the case in the page I'm scrapping from, so I thought it would be interesting to share it here.

[2019-08-20 14:23] augnustin opened #215 "Add a "children" utility function"
Given a node, I can't see a simple way to access its children.

Shouldn't there be a `Floki.children` method for that?

[2019-08-22 00:19] #206 closed

[2019-08-22 01:03] philss commented on #215
@augnustin you can pattern match the node like this:

[code]

Or you can use the Kernel function `elem/2` to fetch in the third position:

[code]

Do you think this solves the problem?

[2019-08-22 01:31] philss commented on #207
@victormuramoto we added a new function called `Floki.traverse_and_update/2` that works the way you expected. Please check the version 0.22.0 of Floki.

[2019-08-22 01:31] #207 closed

[2019-08-22 01:35] philss commented on #206
@chengyin this is now supported by the function `Floki.traverse_and_update/2`. Please check that function.

@ericlathrop And thank you very much for solving the issue! :purple_heart:

[2019-08-22 08:17] augnustin commented on #215
Thanks for getting back.

I am aware of those possibilities, but correct me if I'm wrong, I think a node can also be a string, hence the correct way to safely get children would be:

[code]

wouldn't it?

I agree this is more of a utility function since it is trivial to write, but it would help, especially for piping. Eg.

[code]

which is something pretty common on the DOM.

(By the way, I'd be i

[2019-09-17 19:35] bitboxer opened #221 "Some attributes are binary"
I am writing a little crawler to fetch data from other pages and have a weird problem with [this page](https://www.zvab.com/servlet/BookDetailsPL?bi=30131047830&searchurl=an%3Dk%25E4stner%26hl%3Don%26sortby%3D20%26tn%3D4%2Bb%25E4nde&cm_sp=snippet-_-srp1-_-title2):

This part:

[code]

Is represented as binary instead of a string inside of floki:

[code]

My current guess is an encoding issue there

[2019-09-21 16:53] philss commented on #221
hi @bitboxer! Thanks for open the issue.

The problem is that Elixir assumes that everything is using UTF8, and therefore cannot parse all the contents of files that are encoded in another format. This page is using `ISO-8859-1`, which is not fully understandable by Elixir.

This is not a easy task to fix on Floki's side, and it's something that I'm postponing in the new version of the parser beca

[2019-09-21 17:05] bitboxer commented on #221
Ah, awesome. Thanks! Totally understandable. Will close this for now then and will use iconv in my parser project 🙇

[2019-09-21 17:05] #221 closed

[2019-10-05 15:38] philss commented on #215
hi @augnustin! Sorry for the delay. I think @msramos just added this functionality according to what you was describing. Can you check if it's enough?
I'm going to close this issue. Feel free to re-open it if you want. Thanks!

[2019-10-05 15:38] #215 closed

[2019-10-05 18:11] philss commented on #209
@ericlathrop sorry for the delay. Thank you for open it. I believe this can be fixed almost in the same way that was in [Meeseeks](https://github.com/mischov/meeseeks/pull/64).

[2019-10-05 18:15] philss commented on #210
@Gurimarukin thank you for open the issue, and sorry for the delay.

I think it's something related with how we split the things here: https://github.com/philss/floki/blob/master/lib/floki/selector/attribute_selector.ex#L41

[2019-10-05 23:25] fcapovilla commented on #210
I'll try to fix this issue. :)

[2019-10-06 12:30] danhuynhdev commented on #209
Hi @ericlathrop, I've created a PR (#227) for this. Hope to get some feedback from you.

[2019-10-07 03:08] philss commented on #209
@danhuynhdev Thank you! :purple_heart:

I'm going to take a look this week, I hope. It looks like it fixes the problem, but I want to check some scenarios.

[2019-10-07 03:09] philss commented on #210
@fcapovilla Thank you for the PR! :purple_heart:

I'm going to test it this week. It looks like it fixes the problem :)

[2019-10-07 03:35] philss opened #228 "Replace Travis CI with GitHub actions"
GitHub Actions is a powerful tool, and seems to be more integrated with GitHub. I think it would be great to give a try and replace our Travis CI setup with a GitHub workflow.

I'm not sure if one can run the tests in her/his fork.

Docs about:
- [About GitHub Actions](https://help.github.com/en/articles/about-github-actions)
- [The Elixir action](https://github.com/actions/setup-elixir) - the Mat

[2019-10-07 08:10] augnustin commented on #215
Great! Thanks guys

[2019-10-08 07:30] Gurimarukin commented on #210
It seems that in the meantime, `HTTPoison` changed something, because I can't reproduce the bug on the body returned from it. (The scraped page still have the weird tabs.)
Anyway, thanks for the answer!

[2019-10-09 03:42] donaldducky commented on #228
Hi there, I'm interested in tackling this issue!

[2019-10-09 13:56] donaldducky commented on #228
Been trying this out a bit and the action at: https://github.com/actions/setup-elixir is installing erlang/otp using the base version but not accounting for patch versions.

I'll poke around some more later!

That action also downloads/installs the versions, maybe it might be better to point to pre-baked elixir images on dockerhub. Either way, once it's working it can be optimized.

[2019-10-12 13:35] #209 closed

[2019-10-12 13:39] philss commented on #210
Closed by #226. Thank you!

[2019-10-12 13:39] #210 closed

[2019-10-12 14:02] #228 closed

[2019-10-30 20:36] cheerfulstoic opened #233 "Issue with HTML entity in link URL query parameter in floki 0.23.0"
## Description

It seems like (as far as I can tell), having an HTML entity in a URL's query parameter value for a link breaks the parser starting with floki 0.23.0.  This might also happen in other circumstances.  This might not be valid HTML, but I did run into it in the wild and it's probably not great that the parser crashes, especially when it worked previously.

## To Reproduce

Steps to rep

[2019-11-07 22:16] rinpatch opened #234 "Support fast_html as an optional html parser"
## Feature goal

[`fast_html`](https://git.pleroma.social/pleroma/fast_html) is a C-Node binding for lexborisov's [myhtml](https://github.com/lexborisov/myhtml), it's from 1.2 to 2 times faster than html5ever ([benchmark link](https://hexdocs.pm/fast_html/readme.html#benchmarks)) and requires only a c complier and gmake.

I can open a PR if you have no objection to adding it.

## Dependencies

[co

[2019-11-08 16:58] Adzz opened #235 "Floki fails to parse Some HTML"
## Description

If I try to run `Floki.parse` on this html it fails:

[code]

I get the error:

[code]

- Using Floki 0.23.0
- Using Elixir 1.9.0
- Using Erlang OTP 22.0.5

## Expected behavior

I think it's valid HTML, so it should parse

[2019-11-08 17:02] Adzz commented on #235
Digging further it looks like this is the line that is failing:

[code]
in `floki/src/floki_mochi_html.erl`

I don't know erlang, but does this mean that it wont parse non UTF8 strings?

[2019-11-08 22:29] andyleclair opened #236 "Floki.parse differs when using html5ever"
## Description

Mochiweb Floki will produce different output than html5ever, namely, the output of `Floki.parse` will be wrapped in `<html><head></head><body>...</body></html>`

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.23.0
- Using html5ever
- Using Elixir v1.9.3
- Using Erlang OTP v21.3.8.9
- With this code:

[code]

## Expected behavior

I'd expect that the output woul

[2019-11-11 09:07] oskar1233 commented on #235
Just to confirm, I have `MatchError` on the same line (`src/floki_mochi_html.erl:705`) with `"&dash;` right hand side value.

Might be somehow related that my HTML had `\uFEFF` character on 1st position but the error occurs even after stripping it out.

[2019-11-14 19:16] chengyin commented on #234
I would second this

[2019-11-14 19:27] chengyin commented on #234
mochiweb's lack of proper whitespace handling is a deal breaker for us.

html5ever's great on the correctness, and we are not that concerned with its performance. The problem is the elixir package, which is not maintained.

html5ever_rustler requires a rustler version update for each major elixir release, otherwise build simply fails for the whole application. But the [PR](https://github.com/hansi

[2019-11-14 21:33] philss commented on #234
@rinpatch I think this may be a great addition to the lib! Is it possible to do it by adding the `fast_html` dependency as optional?

[2019-11-14 21:37] philss commented on #233
@cheerfulstoic Thank you for opening the issue!
I'm going to take a look. It seems that is related to the replace of `mochiweb's charref` code here: https://github.com/philss/floki/commit/1198b834f13426b3d8d91f76c5dfbadcc2d94f9d#diff-351de3e8b879ad69ad9c165ca6d8ae9dR705

It is also related to #235

[2019-11-14 21:44] philss commented on #236
@andyleclair Thank you for opening the issue.

This is a problem that we have because we don't consider parsing fragments as something different, when we should. html5ever's parses fragments as full documents because we (floki) don't distinguish this when calling it.

I'm planning to add a `Floki.parse_fragment` to differ from the standard `Floki.parse` because the HTML specs treats them as differ

[2019-11-15 10:57] rinpatch commented on #234
First of all, it's a pretty small library, so it doesn't take much effort to maintain. Second, it's used in [Pleroma](https://git.pleroma.social/pleroma/pleroma), which is an application deployed on 500 servers and `fast_html` parses thousands of html fragments there daily, so I am sure it's going to be maintained.

[2019-11-15 10:58] rinpatch commented on #234
I believe so, will try adding it on the weekend then.

[2019-11-18 19:24] umuro opened #237 "Floki mistakes &adxnnl=1; in attributes for character code and crashes"
## Description
attribute contents crash Floki when they contain & and later ;.  For example "&adxnnl=1;" .The tag example below is from https//:nytimes.com
## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.23.0
- Using Elixir v1.9.1
- Using Erlang OTP v22.1.1
- With this code:
[code]

## Expected behavior

Floki should not mistake it for a special character whenever there is an &

[2019-11-26 15:14] Adzz commented on #235
Hello, from more investigation it looks like we can strip the failing cases to being html that has a `&` in it.

It looks like when we hit a `&` the parser assumes that are about to hit one of these things `&#39;` (I'm not sure what the name is? An encoded character??). HOWEVER We can sometimes legitimately be hitting a `&` followed by an escaped apostrophe, for example if in the HTML we say somet

[2019-11-29 08:29] oskar1233 commented on #235
@Adzz
`&` should be encoded as `&amp;`. Your HTML should look like `T&amp;C&#39;s`.

[code]

I think it still shouldn't crash, though.

[2019-11-29 10:41] Adzz commented on #235
Sure it should be, but i’m not in charge or writing the html that i’m scraping and I’ve seen this exact case in the wild

[2019-12-01 18:01] #233 closed

[2019-12-01 18:14] philss commented on #233
@cheerfulstoic It was fixed in version 0.23.1. Can you try again with that version?

[2019-12-01 18:15] philss commented on #235
@Adzz @oskar1233 Thank you for the investigation! And thank you for opening the issue, @Adzz.
It was fixed in version 0.23.1. Can you try again with that version?

[2019-12-01 18:15] #235 closed

[2019-12-01 18:15] philss commented on #237
@umuro Thank you for opening the issue! It was fixed in version 0.23.1. Can you try again with that version?

[2019-12-01 18:15] #237 closed

[2019-12-31 00:03] #156 closed

[2019-12-31 00:03] #234 closed

[2020-01-01 22:26] philss commented on #171
@f34nk @alex88 thanks to @rinpatch (https://github.com/philss/floki/pull/240), we now can use `myhtmlex` through [`fast_html`](https://hexdocs.pm/fast_html/readme.html).

Please try the version from master/GitHub. I'm going to release this with the version `0.24`.

[2020-01-01 22:26] #171 closed

[2020-01-13 14:34] alessandrousseglioviretta opened #244 "parse_document != (deprecated) parse"
It looks like the new `parse_document`'s output is not the same as the deprecated `parse`. By using the example provided in the documentation:

[code]

The expected output is the one provided in the documentation:

[code]

This issue might be related with #236

Presently, this issue breaks my code: should start fixing it or it's not an intended behavior and will be corrected?

Thanks

[2020-01-13 14:45] philss commented on #244
Hi @alessandrousseglioviretta!

This is indeed related with #236, and it is a difference of how the parses work. It is strange that you didn't have this difference before, because `parse/1` configured with another parse was returning the three according to the parser configured.

Can you check if you configured correctly the other parser (probably html5ever) with the previous version?

[2020-01-13 15:17] andyleclair commented on #236
I see that this report got closed. Was there any resolution? We are currently handling the specific case of a fragment wrapped in the default wrapper, but I'd love to tear that code out

[2020-01-13 16:43] alessandrousseglioviretta commented on #244
yes, I was using html5ever, configured as as it is explained in the Floki documentation: how should I proceed?

[2020-01-16 12:22] Dalgona opened #246 "Floki.traverse_and_update with an accumulator"
## Feature goal

It would be nice if we had `Floki.traverse_and_update/3` which signature looks like:

[code]

...where `acc` is the initial value for an accumulator, and `fun` is a 2-ary function which takes a HTML node and an accumulator, and returns a 2-tuple which contains a new HTML node and a new accumulator.

With this function, we could have a functional approach to traversing and manipula

[2020-01-21 02:53] philss commented on #246
Hi, @Dalgona! Thank you for this suggestion! I think it's a good idea to add this new function :+1:
Please go ahead and let me know if you need help.

[2020-01-23 12:11] rinpatch opened #247 "Add unsafe versions of `Floki.parse_document` and `Floki.parse_fragment` to ease the migration"
## Feature goal

Floki 0.2.4 deprecated `Floki.parse` and functions that accepted html as binary. However it's not easy to migrate the code to new parse functions since they return an `{:ok | :error, result}` tuple, which becomes a problem when you have used these functions in the middle of pipelines with a big number of steps. It also feels kinda useless with `mochiweb_html`, which is probably wh

[2020-01-25 20:21] RichMorin commented on #246
In a stunning example of synchronicity, I just started writing some code that needs something exactly like this pull request provides. In fact, I plan to do something very similar to @Dalgona's Example 2.

Basically, I want to create a table of contents for each outgoing HTML page. To do this, I need to traverse the tree and wrap an "<a name=...>" element around each "<h* ...> element. The name ne

[2020-01-25 20:32] RichMorin opened #249 "way to generate prettified HTML from a parse tree"
## Feature goal

I'd like something that works like `raw_html/1`, but does a reasonable job of formatting the result so that I can read it more easily.  I don't care whether this is implemented as an option to the current function or a new function.

-r

[2020-01-25 22:11] Dalgona commented on #246
What a coincidence... 😆

I also had to implement a table of contents plugin for my static website generator project. If you have any difficulty, feel free to take a look at my code for some inspiration.

https://github.com/Dalgona/Serum/blob/v1/master/lib/serum/plugins/table_of_contents.ex

[2020-01-25 23:26] RichMorin commented on #246
Thanks!  I looked at your code, but think that my use case differs enough that there will only be slight areas of overlap.  That said, I seem to be making good progress in using your new version of traverse_and_update; I'll post a link to my code if and when it seems to be working.

[2020-01-26 16:17] #246 closed

[2020-01-26 16:40] philss commented on #247
@rinpatch thank you for the suggestion. We had a contribution from @schneiderderek which added the two functions `parse_document!` and `parse_fragment!` which has the same behaviour you mentioned. It is available in version 0.25.0.

[2020-01-26 16:40] #247 closed

[2020-01-27 08:29] RichMorin commented on #246
I got my TOC code working reasonably well (e.g., [Crash Scene Field Reference](http://spot.local:4000/item?key=Areas/Content/Overviews/MC_Crash_Scene/main.toml)). The code, though still a bit rough, is available in [router_toc.ex](https://github.com/RichMorin/PA_all/blob/master/PA_elixir/server/apps/phx_http/lib/phx_http_web/router_toc.ex)

Anyway, thanks to all for their efforts!

[2020-01-28 23:34] RichMorin opened #252 "invalid output type in spec for traverse_and_update/3"
Although `traverse_and_update/3` seems to work nicely, it breaks `mix dialyzer` for me.
The problem is that the output type (as documented  [here](https://hexdocs.pm/floki/Floki.html#traverse_and_update/3)) is specified as `html_tree`.
It should be specified as (something like) `{html_tree, any}`.

[2020-01-29 01:42] RichMorin commented on #252
I think line 391 of https://github.com/philss/floki/blob/master/lib/floki.ex needs to be something like:

         ) :: {html_tree(), traverse_acc()}

[2020-01-31 20:17] philss commented on #252
Closed by #255

[2020-01-31 20:17] #252 closed

[2020-02-10 12:02] TomMatthews1 opened #257 "Add E:nth-last-child(n) and E:nth-last-of-type(n) to supported selectors"
Having these would be a great help towards improving accuracy of selectors.

[2020-02-17 05:54] #257 closed

[2020-02-18 00:20] philss commented on #257
@TomMatthews1 thanks for the suggestion! :purple_heart:
This feature is published in version [`0.26.0`](https://github.com/philss/floki/blob/master/CHANGELOG.md#0260---2020-02-17). Let me know if it works for you.

[2020-04-15 10:56] Devon-Olivier opened #269 "Dialyzer reports warning on valid code."
## Description

Using code example in Floki's documentation generates the following warning from Dialyzer:
`
[ElixirLS Dialyzer] [W] The call 'Elixir.Floki':filter_out
         ({<<100,105,118>>,
            [],
            [{<<115,99,114,105,112,116>>, [], [<<104,101,108,108,111>>]},
             <<32,119,111,114,108,100>>]},
           <<115,99,114,105,112,116>>) breaks the contract
           (

[2020-04-21 18:50] DmitryKK opened #272 "Problem when using fast_html"
## Description

When I use Floki with included fast_html I got error. Floki is not working correctly

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.26.0
- Using fast_html v1.0.3
- Using Elixir v1.10.0
- Using Erlang OTP v22.0.7
- With this code:

[code]

I got error:

`{:error, :timeout}`

Then I run code again and got:

[code]

What the problem? Help me plz

[2020-04-26 23:12] philss commented on #272
@DmitryKK sorry for the delay. What is your operational system? Could be that we don't have `epmd` running as stated in our README: https://github.com/philss/floki#using-fast_html-as-the-html-parser

[2020-05-01 19:32] DmitryKK commented on #272
macOS Mojave. Epmd is launched automatically when start app, isn't it?

[2020-05-02 02:38] ykdui opened #275 "Buy Valid Cvv CC Dumps Track"
Buy Valid Cvv CC Dumps Track 1/2 CC SSN DOB Track-1/2-FULLZ-Transfer/Western union Bank-Log-In-PayPal-Transfer-and-Log-In Buy/sell CVV CC DOB SSN FULLZ - Dumps Pin...
Telegram.@Ykidven

Cc Format Is
Format is:

Card Number | Exp. Date | CVV/CVV2 | First Name | Last Name | Street | City
| State | Zip Code | Country | Phone | Type Of Card | Bank Name

I'm Loading All Types Of Paypal Account With No

[2020-05-03 20:04] philss commented on #275
This content was reported as spam. Closing.

[2020-05-03 20:04] #275 closed

[2020-06-07 15:19] philss commented on #236
@andyleclair it was not fixed. It's a known issue. I kept the issue fixed in the issues list, but I will let it open too.

[2020-06-07 15:28] philss commented on #244
@alessandrousseglioviretta yes, it seems that for some reason the parser in use was the MochiWeb parser, which is the default one. I'm closing this issue because it is kind of duplicated with #236, OK?

[2020-06-07 15:28] #244 closed

[2020-06-12 18:48] ChipCoons opened #279 "Find fails on hidden fields"
## Description

When using Floki.find(fragment, "#name) where name is the name of an attribute of type="hidden", an empty list is returned.

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.26.0
- Using Elixir v1.10.3
- Using Erlang OTP v22
- With this code:
[code]
## Actual Result
[]

## Expected behavior
[
  {"input",
   [
     {"type", "hidden"},
     {"value", "2736e8e5-7c83

[2020-06-12 22:13] philss commented on #279
@ChipCoons thank you for open the issue. I believe the problem is that you are using a `ID selector` instead of a `attribute selector` targeting the `name="_csrf"`.

Please try this:

[code]

I'm closing the issue.

[2020-06-12 22:13] #279 closed

[2020-06-13 03:21] ChipCoons commented on #279
That worked.  Thanks.  Thanks for making a great library as well.

-Chip

[2020-06-13 18:11] ckruse opened #280 "Floki crashes for `Floki.attribute` on a node list with only text nodes"
## Description

Given this fragment:

[code]
Floki crashes when calling `Floki.attribute` on `Floki.children` of the root node:

[code]

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.26.0
- Using Elixir v1.10.3
- Using Erlang/OTP 23 [erts-11.0.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
- With this code:

[code]

## Expected behavior

Floki should retu

[2020-06-14 06:01] ckruse opened #282 "`Floki.filter_out` for text nodes"
## Feature goal

It would be nice to be able to filter out text nodes. `:text` (in comparison to `:comment`) could be used.

[code]

[2020-06-17 16:44] josevalim opened #285 "Docs and specs for traverse_and_update are wrong"
The docs say that it will receive an `html_tag` but the callback is also called for doctype/comment/pi nodes. I am not sure if you want to fix the specs/docs or the code. :)

[2020-06-17 17:25] josevalim opened #286 "Revisit Floki.map API"
The new`traverse_and_update` has been quite helpful, thank you, we are making extensive use of it in LiveView to optimize some traversals!

Given its introduction, it may be worth even visiting other parts of the API because I believe `Floki.map` can be completely replaced by `Floki.traverse_and_update`:

[code]

The difference is that `traverse_and_update` is quite more efficient as it doesn't ne

[2020-06-17 19:17] josevalim commented on #286
Oh, another cool idea. If `find_and_update` allows `fun` to return `nil` for removals (like traverse_and_update), then `filter_out` can be implemented as: `find_and_update(node, select, fn _ -> nil end)`. So it can really be a function used as building block for a bunch of other functionality. :)

[2020-06-18 03:54] #280 closed

[2020-06-21 12:05] philss commented on #286
@josevalim thank you for the issue and ideas! :purple_heart:
Replacing `Floki.map/2` with a `Floki.find_and_update/3` seems the better way to go. I don't like very much the `Floki.map/2` function and I wanted to deprecate it before.

We can do this in some steps I think:
- change the implementation of `map/2` to use `traverse_and_update/2`;
- add the `find_and_update/3` and add the deprecation;
-

[2020-06-21 12:15] josevalim commented on #286
If the plan is to remove `map`, i wouldn't change it to use `traverse_and_update/2`, because what if it introduces minor incompatibilities? For example, `traverse_and_update/2` and `find` traverse in different order (find does parent first, traverse children first). While that should not be a problem for `map`, you never know what people are doing, like using `map` for side-effects.

[2020-06-21 20:36] philss commented on #286
It makes sense. So let's go for the deprecation/removal without the refactoring o/

[2020-06-23 01:26] philss commented on #285
@josevalim thank you for catching it! 💜
I think the problem is in the docs, because the callback function needs to handle nodes for doctype/comment/pi in order to be able to change it. So we need to update the docs instead of removing the "feature".

[2020-06-23 08:20] josevalim commented on #285
Cool, PR sent here #289.

[2020-06-23 08:20] #285 closed

[2020-07-07 04:50] philss commented on #272
@DmitryKK in theory yes. Do you still experience this problem?
If so, can you check if `epmd` is running with `ps aux | grep epmd`.

[2020-07-07 05:33] philss commented on #269
@Devon-Olivier this is correct, because `Floki.filter_out/2` expects a `Floki.html_tree()`, which is a list of `Floki.html_tag()` as you can see in [https://hexdocs.pm/floki/Floki.html#t:html_tree/0](https://hexdocs.pm/floki/Floki.html#t:html_tree/0).
I think the fix here is to accept `Floki.html_tag()` too.

[2020-07-07 05:54] #269 closed

[2020-07-30 14:45] Devon-Olivier opened #296 "Potential bug in spec for Floki.children/2"
## Description

`Floki.children/2` has a spec of

`@spec children(html_tree, Keyword.t()) :: html_tree | nil`

 `html_tree()` is a list: `[html_node()]` . However the [body](https://github.com/philss/floki/blob/8e414cf94b4288128bf087a6034d6e59cfdcf785/lib/floki.ex#L482) of the function seems to be pattern matching on an `html_node()` and not a list.

Should the correct spec be `@spec children(html

[2020-08-09 05:39] #296 closed

[2020-08-09 06:02] philss commented on #296
Thank you, @Devon-Olivier! :purple_heart:
It is fixed in https://github.com/philss/floki/commit/4e3626d49abe3bb45c505e92c7d9b8354aeff540

[2020-08-12 05:35] rinpatch commented on #272
This is a fast_html problem. This was resolved in fast_html 2.0, I've verified the example provided works fine with floki + fast_html 2.0.1

[2020-08-13 16:47] philss commented on #272
@rinpatch thank you! :purple_heart:

[2020-08-13 16:47] #272 closed

[2020-09-17 07:57] ubermarcin opened #305 "Bad XML causes CaseClauseError"
When trying to parse html containing XML processing instructions throws:
 `** (CaseClauseError) no case clause matching:` followed by full document represented as string.

 Steps to reproduce the behavior:

- Using Floki v0.28.0
- Using Elixir v1.10.4
- Using Erlang OTP 21 or 22

 html document: https://gist.github.com/ubermarcin/6854a54f7086718ff19998530024f3fc

 Try:
`Floki.parse_document/1`

Ex

[2020-09-20 06:27] philss commented on #305
@ubermarcin thank you for opening the issue! :purple_heart:
I added a PR with the fix. I'm going to merge tomorrow if no issue was found.

[2020-09-20 07:42] ubermarcin commented on #305
@philss I'm happy to have contributed to this great project!

Re: Pull request with the fix,
I already tested it with example provided and ran regression tests, everything seems to work fine 👍

[2020-09-20 16:41] #305 closed

[2020-10-02 23:41] philss commented on #286
I'm considering this done since we deprecated the function and introduced `Floki.find_and_update/3`. I plan to remove `Floki.map/2` in future versions. Thank you, @josevalim ! :purple_heart:

[2020-10-02 23:41] #286 closed

[2020-10-03 19:13] philss commented on #282
I totally forgot to close the issue. It was introduced by #283 . Thanks!

[2020-10-03 19:13] #282 closed

[2020-10-03 19:14] ckruse commented on #282
Me too. Thanks! :)

[2020-10-13 13:30] philss opened #312 "Update Elixir requirement to ~> 1.8"
Since Elixir 1.11 was released, we can bump the required version to at least 1.8.

[2020-10-15 11:25] carlosfrodrigues commented on #312
Hi! I created a pull request updating the require version to 1.8 in mix.exs and removing the 1.7 and adding 1.11 in ci.yml

[2020-10-15 14:37] #312 closed

[2020-12-17 15:00] mtarnovan opened #322 "Possible wrong typespec for `attribute/2`"
The typespec of `attribute/2` is  ` @spec attribute(binary | html_tree, binary) :: list`, but the function can also be called with type `html_node` as first arg:

[code]

Is the correct typespec actually ` @spec attribute(binary | html_tree | html_node, binary) :: list` or am I missing something? `traverse_and_update` for example, actually passes in a `html_node`, not a `html_tree` to the reducer,

[2020-12-21 17:42] philss commented on #322
@mtarnovan you are correct! :+1: Although we are going to remove the support for binaries, this function accepts a `html_node()`. Another thing to mention is that `Floki.find/2` also accepts a `html_node()`, so I think we can fix that too. Do you mind to open a PR? Thanks!

[2020-12-21 18:18] #249 closed

[2020-12-31 21:43] thiagomajesk opened #325 "Add async version of traverse_and_update"
Hi! I'm using Floki to traverse an update a document where I'm generating URL previews.
Since I'm unfurling those URLs while traversing the document, this operation can get quite expensive if done synchronously.
Because of that, I'd like to make a proposal to make this process asynchronous by introducing a `traverse_and_update_async` function that would allow processing the matched nodes in parall

[2021-01-04 13:50] mtarnovan commented on #322
Sure, I can open a PR. Just fix the typespecs or did you have something more in mind?

[2021-01-04 14:05] philss commented on #322
@mtarnovan Just the typespecs for now. Thank you! :purple_heart:

[2021-01-04 19:08] #322 closed

[2021-01-04 20:09] philss commented on #325
Hi @thiagomajesk, thanks for opening the issue! :purple_heart:

I'm inclined to not add this feature because you don't have control of how many process it would create, and also because I want to keep floki without processes in order to keep it simple.

Considering that we would have to traverse the tree again to `await` the modifications, what about this approach for your case:
- first traverse t

[2021-01-04 22:39] thiagomajesk commented on #325
Hi @philss!

Humm, I see...  I'll close the issue then.

BTW, thanks for trying to help. I'll test your suggestion. Cheers!

[2021-01-04 22:39] #325 closed

[2021-01-28 10:19] juulSme opened #329 "Deprecation warnings using IO.warn ignore log levels and are not idiomatic"
We get deprecation warnings in our production system logs because Floki uses IO.warn to spam these warnings. This is not helpful because:
- the messages are not formatted by Elixir's logger, breaking our logging tools
- the messages are output at runtime, not compile time when the dev could do something about them
- the messages are repeated every time the function is called, which is overkill
- t

[2021-01-28 16:54] philss commented on #329
@juulSme I think you are correct in most of the points! Thank you for bringing the issue! :purple_heart:
I did add the `IO.warn` calls inside some functions because some versions of it are accepting binaries in order to parse inside the function. This is, AFAIK, not possible to detect in compile time (unless by some tools like dialyzer).

This behavior is deprecated, but we shouldn't be using `IO.

[2021-02-03 15:53] juulSme commented on #329
No problem :) I did try to fork the lib and solve the issue using `@deprecated` tags but it's not that simple because you can only deprecate a `function/n` (specific arity of a function) in its entirety, not a single pattern match within an arity. So in order to use `@deprecated` you would have to create functions with different names for the behavior you want to keep, or maybe a new module with t

[2021-02-04 21:48] philss commented on #329
@juulSme yeah, this is not trivial because of that: specific clauses are deprecated, but not the entire function.
I don't like the idea of create another module or rename the functions because the whole idea is to remove them soon. It seems like I'm trying to keep them for logger :sweat_smile:

I will change the `IO.warn` for a `Logger.info`, ok?

[2021-02-05 19:47] #329 closed

[2021-02-09 18:27] mohammedgad opened #333 "Floki doesn't parse nested comments properly"
## Description

When we use any parsing function like `parse_document`, `parse_fragment`, or `parse`.
for comments we expect to get a tuple `{:comment, "this is a comment"}` it works fine if we have a comment but doesn't work with nested comments.

for example:

[code]

This will produce a tuple as expected
[code]

**it doesn't work well if we have nested comments**

nested comments code example:

[2021-02-09 21:52] philss commented on #333
@mohammedgad thank you for opening the issue! :purple_heart:
This is a problem in the current tokenizer. For some weird reason `FastHTML` and `HTML5ever` also don't parse it correctly.

I'm planning to introduce a transitional parser that uses the tokenizer from #204 (which is parsing it correctly) and the tree construction from the existing mochiweb parser. The idea of a transitional parser is to

[2021-02-09 22:05] mischov commented on #333
The first `-->` closes the comment, so the second one is parsed as non-comment text. I don't believe you can nest comments.

https://www.w3.org/TR/html52/syntax.html#comments

[2021-02-09 22:52] mohammedgad commented on #333
Thank you so much @philss I am really glad to hear about the transitional parser.

Hey @mischov, I didn't know about nested comments till week ago, the idea behind it, Microsoft wanted to handle conditional styling for outlook and IE. So we can have a comment with IE or outlook styling, inside it you can have other comments for specific IE or outlook versions.

Reference: https://msdn.microsoft.co

[2021-02-09 23:03] mischov commented on #333
As your link indicates

Which makes sense because nested comments aren't supported by the HTML5 standard.

@philss said "For some weird reason FastHTML and HTML5ever also don't parse it correctly," but they _are_ parsing it correctly by the HTML5 standard. I don't know that it makes a lot of sense for parsers to parse in a manner that is against the HTML5 standard to support a feature Microsoft st

[2021-02-09 23:15] mohammedgad commented on #333
@mischov yea it's not supported anymore for IE 10 and for sure this has nothing to do with HTML standards, it's just a comment, but it's still in use for old browsers.
I believe we don't need to support nested comments by generating a node in the html_tree but we need to treat these nested comments like any other comments, the output will be a comment node that has the nested comment in the string

[2021-02-09 23:52] mischov commented on #333
I disagree. Treating nested comments as a single comment is incorrect behavior for like 99.87% of browser users ([caniuse](https://caniuse.com/usage-table) suggests only 0.13% of browser users are on ie. 9 or earlier).

Floki does currently parse nested comments properly for the overwhelming majority of users, which is to say it parses them like their browser would.

It's @philss decision of cours

[2021-02-10 09:17] mohammedgad commented on #333
@mischov you are correct this isn't the bug, it's exactly how the parsing should happen, the current behavior is exactly what the browser will do with the comments. it will print `--->` as text, I am gonna close this Issue.
Thank you @mischov

[2021-02-10 09:17] #333 closed

[2021-02-10 17:35] philss commented on #333
Yeah, @mischov is correct and I was wrong when I said that the new tokenizer is parsing as you expected. It is parsing just like the others. I think I misread it. Sorry about that, @mohammedgad  :/

So, definitely this is not a bug :+1:
Thank you @mischov and @mohammedgad :)

[2021-03-01 19:51] mohammedgad opened #337 "Parsing links with a space HTML entity is broken"
## Description

When I use Floki.parse with a link that has a space HTML entity the parse results in a matching error

[code]

Stacktrace
[code]

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.23.0
- Using Elixir v1.9.0, v1.10.0
- Using Erlang OTP v23
- With this code:
[code]

## Expected behavior

The parsed output should be the link as text

[2021-03-01 20:09] mohammedgad commented on #337
I have upgraded to Floki v0.30.0 that solved the issue

[2021-03-01 20:09] #337 closed

[2021-03-06 10:15] ppatrzyk opened #338 "traverse_and_update is not applied to text nodes"
## Description

When using `traverse_and_update`, specified function is not applied to text nodes, these are passed as is: https://github.com/philss/floki/blob/484565cdda03e2a2cd0a23f08d60f35b37f36415/lib/floki/traversal.ex#L12

## To Reproduce

My setup:

- Ubuntu 20.04
- Elixir 1.11.2
- Erlang/OTP 23
- floki 0.30.0
- fast_html 2.0

config.exs:

[code]

[code]

## Expected behavior

I'd like to r

[2021-03-06 10:34] ppatrzyk commented on #338
maybe as one additional comment: I'm aware that others have exactly the opposite needs (https://github.com/philss/floki/issues/75) and that I can get ok results automatically when using `Floki.HTMLParser.Mochiweb`, I'm curious if it's possible to go with `fast_html` in my case

[2021-03-08 18:13] philss commented on #338
@ppatrzyk thanks for opening the issue! :purple_heart:

I don't think this is a bug. I would say it was a decision from the time we added the feature, since you could update text nodes when capturing the HTML tags (there is an example below). Unfortunately this won't work for nodes that are in the root of the tree :/

The addition of this feature would be a breaking change, so I'm going to think a

[2021-03-08 18:49] ppatrzyk commented on #338
@philss thanks for your reply!

I'll adapt my code such that it works, thanks for your suggestion.

At minimum what would be helpful is mentioning this behavior in the documentation which currently reads:

(emphasis mine)

[2021-03-08 22:55] #338 closed

[2021-03-08 22:56] philss commented on #338
@ppatrzyk good point! I changed in fd88a28. Thanks!

[2021-03-12 17:47] SweetMNM opened #339 "HTML tags inside <style> elements get interpreted as children."
## Description

I was not writing any Floki code my self, but actually using [Premailex](https://github.com/danschultzer/premailex).
Premailex was throwing an error because it was not ready to find any children inside style tags other than strings, after some debugging I found out Floki was looking at an html tag in my css and parsed that as a children.

## To Reproduce

Steps to reproduce the beh

[2021-03-19 23:35] gkpacker commented on #339
The bug seems to be on the https://github.com/mochi/mochiweb lib:

[code]

[2021-03-29 19:02] philss commented on #339
@SweetMNM thanks for opening the issue, and sorry for the delay! :purple_heart:

Yeah, this is a bug! It is in the tree construction phase. The place you mentioned is not the best one, because the problem is inside mochiweb's code (under "src/floki_mochi_html.erl"). But I think it works for now. Would you like to give a try?

@gkpacker you are right, thanks for pointing out! :purple_heart:

[2021-03-29 19:04] philss commented on #339
@SweetMNM Just another thing: you may want to use Floki with [FastHTML](https://hexdocs.pm/floki/readme.html#alternative-html-parsers). The only downside is that you need a C compiler when installing your dependencies. But this parser gets it right and it's really fast.

[2021-03-30 15:54] SweetMNM commented on #339
@gkpacker Thanks!

@philss I didn't know floki had a bundled version of mochiweb that can be modified. I don't mind tackling this on the elixir side of things. Mochiweb just looks like a huge thing to tackle and I am also not very experienced with erlang. So since mochiweb is the default parser and it does not require external dependencies it is probably used by most people. For that reason I thin

[2021-03-30 16:28] philss commented on #339
I know this feeling. I had bad experiences in Ruby with Nokogiri. :sweat_smile:
I think `fast_html` is much more "simple" because it does not require any dependencies other than the compiler.

@SweetMNM I agree, please go ahead :+1:

[2021-03-31 06:39] SweetMNM commented on #339
I will give it a try then 😄

[2021-04-02 22:45] #339 closed

[2021-04-14 04:04] crertel opened #345 "Floki.find() doesn't appear to work with html, head, or body elements"
## Description

`Floki.find/2` seems unable to select `head`, `body`, or `html` elements.

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.30.1
- Using Elixir v1.11.4
- Using Erlang OTP v23.3.1
- With this code:
[code]

## Expected behavior

I'd expect to see the subtrees for the elements show up.

[2021-04-14 04:12] philss commented on #345
@crertel it's because `Floki.parse_document/2` returns a tuple `{:ok, document}`.

Please try this instead:

[code]

Or:

[code]

See: https://hexdocs.pm/floki/Floki.html#parse_document/2

[2021-04-14 04:12] #345 closed

[2021-04-14 04:20] crertel commented on #345
Ah, yep, that does it. Thanks!

I was also trying to use Floki to parse a `<!DOCTYPE NETSCAPE-Bookmark-file-1>` doc, which ended badly.

I'm noticing that the `:root` pseudoselector isn't implemented...any chance we could get it?

[2021-04-14 16:25] philss commented on #345
@crertel I think it's possible to implement the `:root` pseudo-selector. Would you mind to open a new feature request?

And about the doctype problem: can you provide an example of the document and the error?
Thanks!

[2021-04-14 17:06] crertel commented on #345
Sure, will do!

I don't think the doctype issue is important--Floki did its job the best it's able, it is just that the HTML for Firefox bookmark exports is a colossal mess (lots of missing and non-matching tags, no `head` or `body` tags, etc.).

[2021-04-14 17:54] crertel opened #346 "Add :root pseudoselector"
## Feature goal

Floki currently recognizess, but does not implement, the CSS `:root` pseudoselector.

[code]

Ideally, we want to have it work correctly:

[code]

## Dependencies

I am unaware of any dependencies.

[2021-05-05 10:30] rouven-uncap opened #349 "Not all meta tags are found"
## Description

Parsing a Tweet html, Floki only returns the initial 11 `<meta>` tags. Notice in the document from twitter.com below, several `<script>` and `<link>` tags follow, and then additional `<meta>` tags are present. These are not found by Floki.

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.30.1
- Using Elixir v1.11.2
- Using Erlang OTP 23
- With this code:
[code]

[2021-05-05 13:37] philss commented on #349
@rouven-uncap for what I could see, they are all returned:

![floki-twitter-meta](https://user-images.githubusercontent.com/381213/117149502-a844b080-ad8d-11eb-84eb-3dce1018b923.png)

Maybe Twitter is returning a different result when downloading using `HTTPoison`. I downloaded the file using `curl` and then I opened in my iex. Please try again.

[2021-05-05 14:07] rouven-uncap commented on #349
If you look further down below the link and script tags, there are more meta tags below, which are not returned in your screenshot:

![image](https://user-images.githubusercontent.com/82147217/117154121-db059d80-adbb-11eb-91b3-ed38e11ce8d4.png)

[2021-05-05 14:12] rouven-uncap commented on #349
You are correct about curl. Maybe those extra meta tags are injected into the DOM via JS after the page is loaded, which completely defeats the purpose of meta tags...

[2021-05-05 14:12] #349 closed

[2021-05-28 17:32] fireproofsocks opened #350 "Feature/Idea: support case-insensitive CSS selectors"
It would be nice if it were possible to do case-insensitive CSS selection.

For example, given some HTML like the following :

[code]
the following `find` operation would fail:
[code]
whereas the following `find` operation would succeed:
[code]

An implementation of case-insensitive selectors would allow the `i` flag:
[code]
and this would match any variant of the `ROBOTS` capitalization.

For som

[2021-06-17 14:46] nathanl opened #352 "Support HTML ids which contain periods"
## Feature goal

HTML ids which contain periods are legal, but Floki does not appear to support this. Periods would need to be escaped somehow in a selector so that they're not interpreted as classes.

For instance, to find `<form id="my.example.com-port-filters" class="foo">`, we might use `Floki.find(~s{form#my\.example\.com-port-filters.foo})`.

[2021-06-17 15:10] nathanl commented on #352
Turns out there's a workaround.

This came up in the context of using `LiveViewTest.element/3`. @chrismccord pointed out that the attribute syntax could work, which it does. And it also works here: `Floki.find(html, ~s{form[id="my.example.com-port-filters"]})`.

[2021-06-17 16:35] philss commented on #352
@nathanl I will investigate how we can escape the period. If you want to give it a try, I think we need to add a new rule for scaping in the lexer: https://github.com/philss/floki/blob/master/src/floki_selector_lexer.xrl
and then we need to parse it properly here: https://github.com/philss/floki/blob/master/lib/floki/selector/parser.ex

[2021-09-10 15:48] alfredbaudisch opened #357 "When trying to add a child to a node with Floki.traverse_and_update/2, previous children of the HTML are being added recursively, and then closed all at once in the end"
## Description

Consider the basic HTML below, where I want to find each `<h1>` and add an `id` attribute and prepend a child `<a href/>` anchor into the `<h1>`, for each `<h1>`:

[code]

I'm using `Floki.traverse_and_update/2` and then matching `{"h1", attrs, children}`, where I extract the inner `<h1>` text from `children`, generate the id and add to `attrs` and add a `<a/>` into `children`.

##

[2021-09-10 15:50] alfredbaudisch commented on #357
Duck debugging: by writing the issue I noticed I wasn't closing the first header:
`<h1 name="foo">First Section<h1>`.

[2021-09-10 15:50] #357 closed

[2021-10-16 23:31] fcapovilla commented on #346
I've created a pull request implementing this pseudo-class.

I couldn't exactly reproduce the feature goals because :
- `parse_document!()` adds `html` and `body` tags around the html in parameter, so the actual root element is the `html` tag and not the `div`. This is why I had to use the `:root>body>div>div` selector instead of `:root >div` in my test case.
- I tried to use `parse_fragment!()` i

[2021-10-17 00:03] #350 closed

[2021-10-17 22:06] crertel commented on #346
I believe that does, yes. Thank you both!

[2021-11-02 05:31] aegatlin opened #369 "Floki.find/2 support for array of css_selectors?"
Hello,

First of all, thank you for making Floki, I love this tool! <3

I want to use `Floki.find/2` to find elements of more than one css-selector value, and I'm not sure how, nor if I should.

The problem I'm trying to solve is selecting a "whitelist" of html elements for further processing. For example, `Floki.find(html_node, ["p", "a", "pre"])`, and I get all the desired html elements back, in

[2021-11-02 05:58] philss commented on #369
Hey @aegatlin :wave:
This can be done by using the comma as a separator in a `String.t()`. Something like this:

[code]

This is pretty common in CSS selectors and you can mix a bunch of selectors separated by comma.
The case of using `[Floki.Selector.t()] ` is when you want to make complex selectors by hand. It's not a common use case though.

I hope this can help :)

[2021-11-02 05:58] #369 closed

[2021-11-09 08:48] RobertDober opened #370 "Floki parses badly formed attributes (a[href]) in this case"
Floki 0.26
Elixir 1.12.3 and 1.13.0-rc.0

## Description
The input `"<a href=\"http://foo.bar.baz/%{foo}\">http://foo.bar.baz/%{foo}</a>"` is not legal HTML (as can be checked [here](https://validator.w3.org/nu/#textarea) e.g.)

nevertheless Floki parses is as correct

## To Reproduce
[code]
## Expected behavior
return `{:error, ....}`

[2021-11-11 23:31] philss commented on #370
Hi @RobertDober :wave:

Today the parsers used by Floki are tolerant to errors, just like the browsers, and they will try their best to parse something from a malformed HTML. This is the default behavior of the majority of HTML parsers out there for historic reasons. That said, I think this is not a bug. But in the future we could have some flag to be "strict" and return error in case of parsing e

[2021-11-11 23:31] #370 closed

[2021-11-12 09:52] RobertDober commented on #370
I was in stress mode when writing this ticket, and I forget to mention that Floki is really very useful to me for testing in Earmark, so thank you for that :heart:

 I understand your reasoning that AAMOF Floki should parse as much as possible.
Maybe the docs could be a little bit clearer about that.

I like the `strict` idea which would be great for _my_ usecase, but IIUC you would need to forwar

[2021-12-21 10:16] benpony opened #378 "Get node selector"
## Feature goal
A clear and concise description of what this feature is intent to solve, including examples if possible:

One wishes server-side to find specific elements in favor of client-side work.

Example: **find and replace text mechanism**: at first it makes sense to only highlight the elements one wishes to replace on a certain page - this functionally requires a selector: client-side prob

[2022-02-02 10:23] revati opened #382 "Extend `fl-contains` to mach on children text as well"
## Feature goal

Extend `fl-contains` to mach on children text as well.

[code]

[2022-02-02 13:18] philss commented on #382
Hey @revati :wave:

You actually can archive similar results using a _descendant combinator_ with the "all" selector ("`*`").
Please try:

[code]

[2022-02-08 21:47] gbrlmtrz opened #383 "HTML templates not properly parsed when using Floki.HTMLParser.FastHtml"
## Description

The contents of an html template fail to be included in the resulting parsed structure, thus resulting in an empty template.

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.31.0
- Using Elixir v1.13.0
- Using Erlang OTP v24
- With this code:
[code]

## Expected behavior

Output should include the contents of the template.

[code]

[2022-02-13 01:26] philss commented on #383
Hey @gbrlmtrz :wave:
Thanks for open the issue.

I think this is a problem in FastHTML. Maybe the parser doesn't support templates yet. I will try to confirm this week.

[2022-02-16 06:01] rzane opened #385 "Pseudo selectors do not find top-level elements"
## Description

The pseudo selector queries appear to ignore top-level elements.

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.32.0
- Using Elixir v1.12.3
- Using Erlang OTP v23
- With this code:

[code]

## Expected behavior

I find this behavior to be inconsistent with other methods of querying. For example:

[code]

Also, consider that in a browser, all of the following e

[2022-02-16 22:44] #385 closed

[2022-03-15 16:18] stefanchrobot opened #391 "Include input values in the result of `Floki.text/2`"
## Feature goal

Include the values of `<input ...>` elements in `Floki.text/2`.

This would be helpful for making assertions on pages that have edit forms:
[code]

This could be implemented as an option for `Floki.text/2`:

[code]
or
[code]

[2022-03-28 15:08] derek-zhou opened #399 "html_declaration can be a 2 tuple"
## Description

According to the [doc](https://hexdocs.pm/floki/Floki.html#t:html_declaration/0), html_declaration is a 3 tuple like:
[code]

However, I've encounter a `{:pi, String.t()}` 2 tuple. Reading the code a bit, this is actually intentional:

https://github.com/philss/floki/blob/d3fc8dada223eebfb1631164182e465d59836ca7/src/floki_mochi_html.erl#L351

`<?php` is broken html but unfortunatel

[2022-03-28 18:05] #399 closed

[2022-05-24 13:27] inoas opened #405 "Suggestion self_closing_tags"
## Feature goal

Would you be interested in a PR that made these configurable. They would stay like this unless someone overwrote some application layer config.

https://github.com/philss/floki/blob/61cd7126c3486c4f857fc7f7a82405dcabf25df0/lib/floki/raw_html.ex#L4-L21

## Dependencies

None

[2022-05-24 13:28] inoas commented on #405
I am using Floki to render UBB-style xml and there are tags like `<pagelink/>` or `<media/>` or

[2022-05-24 15:59] philss commented on #405
@inoas this is good idea. Maybe `:custom_self_closing_tags`?

This would be nice as well!

[2022-05-24 23:09] inoas commented on #405
OK, thanks for the go ahead, I will look to find some time to implement.

[2022-05-25 00:29] inoas commented on #405
The idea about `:append_self_closing_tags` and `:set_self_closing_tags` would be to either append to the ones currently set by default / by the developer... or to set them. `set_self_closing_tags` could also be `put_self_closing_tags` or `replace_self_closing_tags`.

This is up to you what you want here, just replacing or appending and replacing?
Just let me know :)

[2022-05-25 00:32] philss commented on #405
I personally don't see much use for replacing them entirely. Seems like only appending is enough.

[2022-07-14 12:32] fakenickels opened #411 "Floki.find doesn't support escaped colons in class names"
## Description

Floki doesn't support selectors with escaped colons in them, probably it's mixing them up with pseudo selectors

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.33.1
- Using Elixir v1.13.3
- Using Erlang OTP v24
- With this code:

[code]

## Expected behavior
[code]

The current workaround is to use `a[class="xs:red-500"]`

[2022-07-18 13:32] fakenickels commented on #411
I tried adding a escaped colon to this in a way that it doesn't conflict with pseudo-selectors but with no success so far https://github.com/philss/floki/blob/master/src/floki_selector_lexer.xrl#L3

[2022-07-22 17:02] philss commented on #411
Hi @fakenickels :wave:

I don't know yet how to solve on the lexer/parser level, but there is a way that works today: you can create a `Floki.Selector` by hand.

[code]

This is not ideal, but at least solve the problem for now. I will try to check this next week.

[2022-07-27 16:59] nuno84 commented on #116
Hi,
A few years passed by since this thread was posted... Is there any update to this issue?
I also need to parse a charset=windows-1252 page and am not sure how to do it.
This reply [https://github.com/rusterlium/html5ever_elixir/issues/6#issuecomment-305258875](url) is not very clear also, but is this the way to go?
Thank you

[2022-07-27 22:26] philss commented on #116
Hey @nuno84 :wave:
This is still a problem, since Floki does not implement the algorithm for detecting the encoding of the page.

But what @mischov suggested there is that you could use the [Codepagex](https://github.com/tallakt/codepagex) Hex package to convert from your encoding to UTF8.
I think you can archive the same result without that package, by using the [`:unicode`](https://www.erlang.or

[2022-07-28 06:30] nuno84 commented on #116
Hi again Filipe,
I tested and both solutions solve the issue. I will keep yours as it is one less dependency 👍
One last question: Is there any way to detect if I need to decode the HTML? Do I need to do some regex on the HTML head to look for encoding property or something similar? Any thoughts on that?
Thank you very much.

[2022-07-28 07:33] nuno84 commented on #116
I was thinking about this.
Isn't the encoding on the meta in the head?
It doesnt seem that difficult to do a regex and apply that transform for a list of encodings, or am I oversimplifying it?
I could work on it... maybe through and `apply_auto_encode` option to make it optionable?
what are your thoughts?

[2022-07-28 12:52] nuno84 commented on #116
Ok, so I found that that conversion is not complete.
The € symbol doesnt work with iso-8859-1, so neither solutions worked 100%.
I installed the package: {:tds_encoding, "~> 1.1"}
And now it worked.
But this installed a lot of stuff and I am not that happy with such bigger dependency:

[2022-07-28 19:00] philss commented on #116
The € symbol doesnt work with iso-8859-1, so neither solutions worked 100%.

Sorry, I swapped the things. Actually `windows-1252` is a superset of ISO 8859-1.

It doesnt seem that difficult to do a regex and apply that transform for a list of encodings, or am I oversimplifying it?

No, unfortunately it is not that simple. See the algorithm description here: https://html.spec.whatwg.org/#determinin

[2022-07-29 08:37] nuno84 commented on #116
I also thought if it was simple it would be done a long time ago.
I am parsing random pages, that is why some will eventually have "weird" encodings but I can specify each encoding by hand, no problem with that as the process will always be individually made.
Ok, I can try the precompiled lib you did, but I dont understand it:
I will add to deps:
[code]
mix deps thwors an error:

[code]

Added mod

[2022-08-04 17:46] nuno84 commented on #116
For reference,
This is solved by using the lib:  {:excoding, "~> 0.1.2"},
Excoding.decode(body, encoding)
More info here `https://github.com/mjaric/tds-encoding/issues/5`
Thank you once again.

[2022-08-24 20:30] #405 closed

[2022-09-18 02:07] calimeroteknik opened #421 "parse_fragment does not parse whitespace in HTML (or XML) text properly"
## Description

parse_fragment does not parse whitespace in HTML (or XML) text properly, keeping it as-is when it should not.

## To Reproduce

Steps to reproduce the behavior:

- Using Floki v0.33.1
- Using Elixir v1.13.2
- Using Erlang OTP 24.3.2 [erts-12.3]
- With this code:
[code]
  I get the following output:
[code]

## Expected behavior

  The following output:
[code]
(I think that the leadi

[2022-10-03 10:04] Benjamin-Philip commented on #391
Can I work on this?

[2022-10-04 20:06] hattmarris opened #426 "traverse_and_update/3 return typespec needs html_tree()"
## Description

The first element in the tuple return type was changed to`html_node()` in this revision - https://github.com/philss/floki/pull/289/files#diff-0eacaeb3de3bdf5b80408719a3ce69f47fd9eda5e9a02de33bd65f7b1235e0e2R395

But dialyzer caught for me that this was always returning an `html_tree()` spec'd as a list with a root node --
`@type html_tree() :: [html_node()]`

I don't pretend to kno

[2022-10-04 20:27] philss commented on #426
@hattmarris I think you are right. The return type should be `{html_tree(), traverse_acc}` as it was before. I don't know why I didn't catch that, but I think the correct is the previous version.

Would you mind to send a pull request?

[2022-10-29 21:17] philss commented on #426
@WLSF I think I can't assign directly to you. But feel free to work on this :)

[2022-10-30 04:17] WLSF commented on #426
@philss couple of things that I've noticed:

1.
The function `traverse_and_update/3` actually accepts a string as arg/response, as you can see on [this test](https://github.com/philss/floki/blob/master/test/floki/traversal_test.exs#L81), is there a reason for it?

If thats by design then I guess that there are other aspects of this spec that might not be right, because right now its expecting the

[2022-10-31 20:19] #426 closed